Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

handle errors+remove type annotations
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

show total imported keys on backup restoration
  core/src/api/keys.rs
  packages/client/src/core.ts
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

add zxcvbn package
  packages/interface/package.json
  pnpm-lock.yaml
Due: none

change input border colour based on zxcvbn score
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

clippy and formatting
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

small tweaks
  apps/landing/src/components/Footer.tsx
  docs/product/getting-started/terminology.md
Due: lint, markdown-link-check

autoform hook
  apps/mobile/src/hooks/useAutoForm.ts
Due: lint

Mini tweaks and new packages
  apps/mobile/package.json
  apps/mobile/src/components/primitive/Button.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/screens/settings/client/AppearanceSettings.tsx
  apps/mobile/src/screens/settings/client/ExtensionsSettings.tsx
  apps/mobile/src/screens/settings/client/GeneralSettings.tsx
  apps/mobile/src/screens/settings/client/LibrarySettings.tsx
  apps/mobile/src/screens/settings/client/PrivacySettings.tsx
  apps/mobile/src/screens/settings/info/About.tsx
  apps/mobile/src/screens/settings/info/Support.tsx
  apps/mobile/src/screens/settings/library/KeysSettings.tsx
  apps/mobile/src/screens/settings/library/NodesSettings.tsx
  apps/mobile/tailwind.config.js
  pnpm-lock.yaml
Due: lint

Exclude android & ios from search
  .vscode/settings.json
Due: none

password strength meter
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

remove nbsp
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

add button type to stop early form submission
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

Some initial works on modify events and other small fixes
  apps/desktop/package.json
  core/src/location/file_path_helper.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager.rs
  pnpm-lock.yaml
Due: none

Revert traffic light change from #464 This messes up the spacing in non-fullscreen view. We need to properly attach event listeners to the window and update this when full-screen mode changes.
  apps/desktop/src-tauri/src/main.rs
Due: none

File update event
  core/src/location/manager.rs
  core/src/object/identifier_job/mod.rs
  core/src/object/validation/hash.rs
Due: none

use `react-hook-form` for backup restoration dialog
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

more `react-hook-form` stuff
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

attempt to fix password meter
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

Add Switch (Input)
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/hooks/useAutoForm.ts
  apps/mobile/src/screens/settings/client/GeneralSettings.tsx
Due: lint

Library General settings screen
  apps/mobile/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

small cleanup
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/PasswordChangeDialog.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

Fix password meter
  packages/interface/src/components/dialog/PasswordChangeDialog.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

update colours
  packages/interface/src/components/dialog/PasswordChangeDialog.tsx
Due: lint

Trying to be more generic with used events and some tests to validate our assumptions
  core/src/location/manager.rs
  core/src/object/identifier_job/mod.rs
Due: none

Turning on location metadata file
  core/src/location/mod.rs
Due: none

Introducing core unit tests on CI pipeline
  .github/CODEOWNERS
  .github/workflows/ci.yml
Due: none

Submiting new unit test assumptions to validate on windows CI
  core/src/location/manager.rs
Due: none

Fixing unit tests
  core/src/location/manager.rs
Due: none

Fixing unit tests again
  core/src/location/manager.rs
Due: none

Fixing unit tests for macos
  core/src/location/manager.rs
Due: none

Fixing unit tests for macos again
  core/src/location/manager.rs
Due: none

wip: win setup script pnpm test
  .github/scripts/setup-system.ps1
Due: none

wip: small behavioral correction
  .github/scripts/setup-system.ps1
Due: none

Refactor settings + Switch and Switch Container
  apps/mobile/README.md
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/components/primitive/Switch.tsx
  apps/mobile/src/components/settings/SettingsContainer.tsx
  apps/mobile/src/components/settings/SettingsItem.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint, markdown-link-check

wip: more setup script i am going clinically insane
  .github/scripts/setup-system.ps1
Due: none

finally....sane setup script (minus ffmpeg)
  .github/scripts/setup-system.ps1
Due: none

pnpm node install as admin ffff awawawawawa
  .github/scripts/setup-system.ps1
Due: none

Add license scan report and status
  README.md
Due: markdown-link-check

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
