Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

Update Prisma (#441)
  Cargo.lock
  Cargo.toml
Due: none

use generated rspc client
  crates/sync/example/web/src/utils/rspc.ts
Due: lint

Update file-types.json
  packages/interface/src/constants/file-types.json
Due: none

Clean import modal
  apps/mobile/ios/Spacedrive/Info.plist
  apps/mobile/src/containers/modals/ImportModal.tsx
Due: lint

Sentry support
  packages/interface/package.json
  packages/interface/src/App.tsx
  packages/interface/src/ErrorFallback.tsx
  pnpm-lock.yaml
Due: lint

replace `usize` with `u64` for md/pvm lengths
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

remove broken import
  packages/interface/src/screens/Photos.tsx
Due: lint

Error Bounary Sentry support (#444)
  packages/interface/package.json
  packages/interface/src/App.tsx
  packages/interface/src/ErrorFallback.tsx
  packages/interface/src/screens/Photos.tsx
  pnpm-lock.yaml
Due: lint

Fix metadata/preview media sizes for 32-bit targets (#446)
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

add comments, code cleanup, more functions
  core/src/api/keys.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

unmount all keys button
  core/src/api/keys.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/KeyList.tsx
Due: lint

comment and keymanager `clear_master_password()`
  core/prisma/schema.prisma
  crates/crypto/src/keys/keymanager.rs
Due: none

updates
  .github/scripts/setup-system.sh
  .idea/workspace.xml
Due: none

updated to add in Node check aswell since it is needed for full build and pnpm
  .github/scripts/setup-system.sh
  .idea/workspace.xml
Due: none

updated .gitignore to remove .idea files for jetbrain IDE
  .github/actions/publish-artifacts/action.yaml
  .gitignore
  .idea/workspace.xml
Due: none

IDE settings not needed
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/sonarlint/issuestore/index.pb
  .idea/spacedrive.iml
  .idea/vcs.xml
  .idea/workspace.xml
Due: none

updated ffmpeg for macos to 5.1.2
  .github/scripts/setup-system.sh
Due: none

rolled back version change of macos ffmpeg to 5.0.1 due to dependency concerns
  .github/scripts/setup-system.sh
Due: none

remove valtio-persist from @sd/client
  packages/client/package.json
  packages/client/src/stores/themeStore.ts
  packages/client/src/stores/util.ts
Due: lint

prevent Sentry capturing all events
  packages/interface/src/App.tsx
  packages/interface/src/ErrorFallback.tsx
Due: lint

minor tweaks such as double quoting variables to prevent globbing or word splitting
  .github/scripts/setup-system.sh
Due: none

Add MacStadium sponsor to README
  .github/images/sponsors/macstadium-dark.svg
  .github/images/sponsors/macstadium-light.svg
  README.md
Due: markdown-link-check

minor tweaks as script works on opensuse but doesn't echo out disto like all others
  .github/scripts/setup-system.sh
Due: none

working on ffmpeg dependency to try and shorten but no devel package and not bundled in main repo
  .github/scripts/setup-system.sh
Due: none

Linter was wrong corrected double quote for globbing on variables
  .github/scripts/setup-system.sh
Due: none

testing to try and bundle rpm for openSUSE
  .github/actions/publish-artifacts/action.yaml
Due: none

reverted bundling as not needed for now.
  .github/actions/publish-artifacts/action.yaml
Due: none

testing out latest ffmpeg-5 via adding repo
  .github/scripts/setup-system.sh
Due: none

instead of adding repo as not everyone would prefer I decided to change to go rpm route and install
  .github/scripts/setup-system.sh
Due: none

merged other changes that were done as well as added notes
  .github/scripts/setup-system.sh
Due: none

add no keys available message
  packages/interface/src/components/key/KeyList.tsx
Due: lint

fix unmount button
  packages/interface/src/components/key/KeyList.tsx
Due: lint
