Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

use dashmap for concurrency
  Cargo.lock
  core/src/api/keys.rs
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  crates/crypto/Cargo.toml
  crates/crypto/src/keys/keymanager.rs
Due: none

fix missing keylist issue and add invalidate query macro
  core/src/api/keys.rs
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

set correct RSPC types
  core/src/api/keys.rs
Due: none

statically set master password (TEMPORARILY)
  core/src/library/library_manager.rs
Due: none

add remove key function within the keymanager
  crates/crypto/src/keys/keymanager.rs
Due: none

key dropdown menu and impl
  core/src/api/keys.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

formatting
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

allow `option_if_let_else`
  crates/crypto/src/lib.rs
Due: none

add comment about key stats
  packages/interface/src/components/key/KeyList.tsx
Due: lint

add additional comment
  packages/interface/src/components/key/KeyList.tsx
Due: lint

merged other changes that were done as well as added notes
  .github/scripts/setup-system.sh
Due: none

merged other changes that were done as well as added notes
  Cargo.lock
  core/Cargo.toml
  crates/ffmpeg/Cargo.toml
Due: none

updated to add rr so that after install the repo is removed due to if script is run again it errors out due to repo added already resulting in script failing
  .github/scripts/setup-system.sh
Due: none

Some optimizations on identifier and object validator jobs
  core/src/object/identifier_job/mod.rs
  core/src/object/reader.rs
  core/src/object/validation/validator_job.rs
Due: none

rpsc error handling for the keys route
  core/src/api/keys.rs
Due: none

fix rspc errors with an impl
  Cargo.lock
  core/Cargo.toml
  core/src/api/keys.rs
  crates/crypto/Cargo.toml
  crates/crypto/src/error.rs
Due: none

crypto crate errors to `sd-crypto::Error`
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/primitives.rs
Due: none

remove `map_err`
  core/src/api/keys.rs
Due: none

use custom result type
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/primitives.rs
Due: none

cargo fmt
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
Due: none

clippy
  crates/crypto/src/keys/keymanager.rs
Due: none

fix builds
  core/src/api/keys.rs
Due: none

remove `Error::MutexLock`
  core/src/api/keys.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
Due: lint

fix unnecessary unwrap
  core/src/library/library_manager.rs
Due: none

fix mobile splashscreen Just trust me bro
  apps/mobile/src/App.tsx
  apps/mobile/src/main.tsx
Due: lint

fix mobile draw active style
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
Due: lint

use custom valtioPersist for current library state
  packages/client/src/hooks/useCurrentLibrary.tsx
Due: lint

remove mobile lockfile It's now in the pnpm workspace so it shared the main one.
  apps/mobile/pnpm-lock.yaml
Due: none

mutex error handling (buggy for some reason)
  core/src/library/library_manager.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

finally remove valtio-persist
  apps/mobile/package.json
  pnpm-lock.yaml
Due: none

remove 'mobile' from Platform as it's in interface
  packages/interface/src/util/Platform.tsx
Due: lint

clean default key logic
  core/src/api/keys.rs
Due: none

fix default key clearing
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

allow a key to be removed without bugs
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

Updated spelling/grammar for mobile
  CONTRIBUTING.md
Due: markdown-link-check

- clear all jobs - fixed Extension into ObjectKind - server app now logs info! (pnpm core dev) - disabled Object Validator - ui cleanup
  apps/server/package.json
  core/src/api/jobs.rs
  core/src/job/job_manager.rs
  core/src/lib.rs
  core/src/location/mod.rs
  core/src/object/identifier_job.rs
  core/src/object/preview/thumb.rs
  crates/file-ext/src/extensions.rs
  crates/file-ext/src/magic.rs
  packages/client/src/core.ts
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/dialog/AddLocationDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/style/style.scss
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
