Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

use local prisma
  Cargo.lock
  Cargo.toml
Due: none

add hash with secret functions
  crates/crypto/src/keys/hashing.rs
Due: none

refactor KM to make the secret key both optional, and user-settable
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

thumb wrapper
  apps/mobile/src/components/explorer/FileThumb.tsx
Due: lint

update library create function and create library dialog
  core/src/api/libraries.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

fix annoying MPC typo
  crates/crypto/src/keys/keymanager.rs
Due: none

fix ordering of key manager creation and seeding
  core/src/library/library_manager.rs
Due: none

overhaul master password changing UI to support the potentially empty secret key
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
Due: lint

patch keymanager unlocking for potentially empty SK
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

make create library dialog text more fitting
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

remove dead code
  core/src/api/keys.rs
Due: none

add autogeneration, view/hide, copy to clipboard icons
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

cleanup older code
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

make onboarding screen look a tad better
  packages/interface/src/components/onboarding/Onboarding.tsx
Due: lint

update packages & fix folder color
  apps/mobile/README.md
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/icons/FolderIcon.tsx
  pnpm-lock.yaml
Due: lint, markdown-link-check

minor UI tweaks
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

patch backup restoration UI
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
Due: lint

add pw generation to MP change dialog
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
Due: lint

make sure passwords are same before submitting lib creation
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

UI fixes and allow setting algorithm/hashing algorithm for master password
  core/src/api/libraries.rs
  core/src/library/library_config.rs
  core/src/library/library_manager.rs
  crates/crypto/src/keys/hashing.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

make sure KM is re-seeded on SD load and prevent loading duplicate keys into the keystore
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

remove old comment
  core/src/library/library_manager.rs
Due: none

remove warnings
  .gitignore
  Cargo.lock
  Cargo.toml
  core/src/library/library_manager.rs
  core/src/location/file_path_helper.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  core/src/object/_identifier_job.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/identifier_job/mod.rs
  core/src/prisma_sync.rs
  core/src/sync/mod.rs
  core/src/volume.rs
  crates/sync-generator/src/lib.rs
  packages/client/src/core.ts
Due: lint

remove stuff from testing
  core/src/library/library_manager.rs
Due: none

cleanup
  core/src/location/indexer/indexer_job.rs
  core/src/object/identifier_job/mod.rs
Due: none

new migration
  core/prisma/migrations/20230105021821_owned_shared_operations/migration.sql
Due: none

add skip_duplicates functionality
  core/src/location/indexer/indexer_job.rs
  core/src/sync/mod.rs
  crates/sync/src/crdt.rs
Due: none

use custom alias in web vite config
  apps/web/vite.config.ts
Due: lint

don't use alias at all
  apps/web/postcss.config.js
Due: none

don't use tailwind alias either
  apps/web/tailwind.config.js
Due: none

wtf
  packages/ui/tailwind.config.js
Due: none

certified bruh moment
  packages/ui/tailwind.config.js
Due: none

use alias for web postcss config
  apps/web/postcss.config.js
Due: none

use @sd/ui as dev dependency
  apps/landing/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: none

update pnpm lockfile
  pnpm-lock.yaml
Due: none

use tsconfig paths again
  apps/landing/package.json
  apps/landing/vite.config.ts
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: lint

try agane
  tsconfig.json
Due: none

move back to alias for landing
  apps/landing/vite.config.ts
Due: lint

remove assets and config from project references
  tsconfig.json
Due: none

Fix Vercel Deployments (#503)
  apps/landing/package.json
  apps/landing/vite.config.ts
  apps/web/package.json
  apps/web/tailwind.config.js
  apps/web/vite.config.ts
  packages/ui/tailwind.config.js
  pnpm-lock.yaml
Due: lint
