Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

remove tauricon
  apps/desktop/package.json
  pnpm-lock.yaml
Due: none

remove ci file listing
  .github/actions/prep-windows-deps/action.yaml
Due: none

fix ffmpeg copy for ci
  .github/scripts/setup-system.ps1
Due: none

move fixed copy to ci windows deps action
  .github/actions/prep-windows-deps/action.yaml
  .github/scripts/setup-system.ps1
Due: none

hoist windows dep actions so dep builds cache
  .github/actions/prep-windows-deps/action.yaml
  .github/workflows/ci.yml
Due: none

Fix landing build
  apps/landing/vite.config.ts
Due: lint

function to see if keymanager has master password
  crates/crypto/src/keys/keymanager.rs
Due: none

update schema
  core/prisma/schema.prisma
Due: none

add default bool to schema
  core/prisma/schema.prisma
Due: none

fixed vite merge error
  apps/landing/vite.config.ts
Due: lint

populate keystore on SD startup
  core/src/library/library_manager.rs
  core/src/util/seeder.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

test build
  apps/landing/src/pages/docs/index.page.server.ts
  apps/landing/src/renderer/_default.page.client.tsx
Due: lint

clippy+formatting
  crates/crypto/src/keys/keymanager.rs
Due: none

filter owned ops more
  crates/sync/example/api/src/api/mod.rs
  crates/sync/example/web/src/App.tsx
  crates/sync/src/db.rs
Due: lint

implement requested changes
  core/src/library/library_manager.rs
  core/src/util/seeder.rs
Due: none

remove unwrap
  crates/crypto/src/header/keyslot.rs
Due: none

update deps
  Cargo.lock
  Cargo.toml
  pnpm-lock.yaml
Due: none

use padding="thin"
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

fmt, clippy, remove ser/de derives
  Cargo.lock
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  crates/crypto/Cargo.toml
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

some esm vite plugin thing
  apps/landing/package.json
  apps/landing/vite.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: lint

some esm vite plugin thing (#425)
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

some esm vite plugin thing (#425)
  apps/landing/package.json
  apps/landing/vite.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: lint

use custom tailwind styled function
  packages/interface/src/components/key/KeyManager.tsx
  packages/ui/package.json
  packages/ui/src/Tabs.tsx
  packages/ui/src/Typography.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils.tsx
  packages/ui/tsconfig.json
Due: lint

update pnpm lock
  pnpm-lock.yaml
Due: none

fix landing vite config
  apps/landing/vite.config.ts
Due: lint

use custom tailwind styled function (#426)
  apps/landing/vite.config.ts
  packages/interface/src/components/key/KeyManager.tsx
  packages/ui/package.json
  packages/ui/src/Tabs.tsx
  packages/ui/src/Typography.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: lint

use custom tailwind styled function (#426)
  packages/interface/src/components/key/KeyManager.tsx
  packages/ui/package.json
  packages/ui/src/Tabs.tsx
  packages/ui/src/Typography.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: lint

refactor dropdown
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/NavBar.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/Overview.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/Dropdown.stories.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils.tsx
Due: lint

refactor dropdown
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/Overview.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/Dropdown.stories.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils.tsx
Due: lint

disable dropdown storybook
  packages/ui/src/Dropdown.stories.tsx
Due: lint

add CreateLibraryDialog to sidebar dropdown
  packages/interface/src/components/layout/Sidebar.tsx
  packages/ui/src/Dropdown.tsx
Due: lint

merge
  apps/desktop/src/index.html
  apps/web/src/index.html
  package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/ErrorFallback.tsx
  packages/interface/src/NotFound.tsx
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/primitive/Toasts.tsx
  packages/interface/src/style.scss
  packages/ui/src/Typography.tsx
  packages/ui/style/colors.scss
  packages/ui/style/style.scss
  packages/ui/style/tailwind.js
Due: lint

progress
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
Due: lint

rebase moment
  .github/dependabot.yml
  .github/workflows/desktop-ci.yml
  .github/workflows/mobile-ci.yaml
  .github/workflows/rust.yml
Due: none

Merge branch 'eng-259-identify-objectkind'
  Cargo.lock
  apps/desktop/package.json
  apps/mobile/pnpm-lock.yaml
  core/Cargo.toml
  core/src/object/identifier_job.rs
  crates/file-ext/src/kind.rs
  crates/sync/docs/HLC.md
  docs/developers/architecture/sync.md
  packages/client/src/stores/explorerStore.ts
  packages/interface/package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/style.scss
  packages/ui/package.json
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/style/style.scss
  pnpm-lock.yaml
Due: lint, markdown-link-check
