Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

fix prod build not working & thumbnails on web
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/index.html
  packages/client/src/index.ts
Due: lint

Fix getThumbnailUrlById for desktop and web
  apps/desktop/src/App.tsx
  apps/web/src/App.tsx
Due: lint

fix the getThumbnailUrlById origin
  apps/web/src/App.tsx
Due: lint

manifest
  apps/server/package.json
  apps/web/public/manifest.json
  apps/web/src/index.html
  apps/web/vite.config.ts
  core/src/object/identifier_job/mod.rs
  core/src/object/preview/media_data.rs
  core/src/object/preview/media_data_job.rs
  core/src/object/preview/mod.rs
  packages/client/src/stores/explorerStore.ts
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  packages/interface/tsconfig.json
  packages/ui/style/colors.scss
Due: lint

update docs even further
  docs/developers/architecture/encryption.md
  docs/developers/architecture/key-manager.md
Due: markdown-link-check

fix thumbnails on web
  apps/server/src/main.rs
  apps/web/src/App.tsx
Due: lint

media data
  apps/web/public/favicon.ico
  apps/web/public/logo-192x192.png
  apps/web/public/logo-512x512.png
  apps/web/public/manifest.json
  core/src/api/files.rs
  core/src/api/mod.rs
  core/src/location/mod.rs
  core/src/object/identifier_job/mod.rs
  core/src/object/preview/media_data.rs
  core/src/object/preview/thumb.rs
  packages/client/src/core.ts
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/Inspector.tsx
Due: lint

New Location Watcher and some minor fixes
  core/build.rs
  core/src/api/locations.rs
  core/src/location/error.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager.rs
  core/src/location/mod.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/identifier_job/mod.rs
  core/src/object/preview/thumb.rs
  crates/ffmpeg/src/movie_decoder.rs
  crates/sync/example/api/src/api/mod.rs
Due: none

only use vite-tsconfig-paths
  apps/web/package.json
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: lint

switched to new colors
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/layout/Modal.tsx
  apps/mobile/src/components/primitive/Divider.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/containers/drawer/DrawerLocations.tsx
  apps/mobile/src/containers/modals/FileModal.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/screens/modals/Search.tsx
  apps/mobile/tailwind.config.js
Due: lint

remove ui from web
  apps/web/package.json
Due: none

use relative extends for ui tsconfig
  packages/ui/tsconfig.json
Due: none

rustfmt
  core/src/api/keys.rs
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  packages/interface/src/components/key/KeyList.tsx
Due: lint

remove dead code
  packages/interface/src/components/key/KeyList.tsx
Due: lint

settings screens template
  apps/mobile/src/navigation/SettingsNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/screens/Search.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/src/screens/settings/client/AppearanceSettings.tsx
  apps/mobile/src/screens/settings/client/ExtensionsSettings.tsx
  apps/mobile/src/screens/settings/client/GeneralSettings.tsx
  apps/mobile/src/screens/settings/client/LibrarySettings.tsx
  apps/mobile/src/screens/settings/client/PrivacySettings.tsx
  apps/mobile/src/screens/settings/info/About.tsx
  apps/mobile/src/screens/settings/info/Support.tsx
  apps/mobile/src/screens/settings/library/KeysSettings.tsx
  apps/mobile/src/screens/settings/library/LibraryGeneralSettings.tsx
  apps/mobile/src/screens/settings/library/LocationSettings.tsx
  apps/mobile/src/screens/settings/library/NodesSettings.tsx
  apps/mobile/src/screens/settings/library/TagsSettings.tsx
Due: lint

[ENG-262] Key Manager Integration (#450)
  Cargo.lock
  core/Cargo.toml
  core/prisma/migrations/20221102114916_key_update/migration.sql
  core/prisma/schema.prisma
  core/src/api/keys.rs
  core/src/api/mod.rs
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  crates/crypto/Cargo.toml
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/primitives.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

disable broken media_data extractor, wip
  core/src/object/preview/thumb.rs
  packages/client/src/core.ts
Due: lint

reorder & comment npmrc
  .npmrc
Due: none

working key management in settings page
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

Updated pnpm to 7.14.0 and added .nvmrc
  .nvmrc
  package.json
Due: none

remove openSUSE support but leave distro id imporvements
  .github/scripts/setup-system.sh
Due: none

looking over I think we want our @type/node to be in line with our node version requirements
  package.json
  packages/interface/package.json
Due: none

looking over I think we want our @type/node to be in line with our node version requirements
  apps/landing/package.json
  package.json
  packages/interface/package.json
Due: none

ignore last commit derp
  package.json
  packages/interface/package.json
Due: none

ignore last commit derp
  apps/landing/package.json
  package.json
  packages/interface/package.json
Due: none

docs init
  apps/landing/public/app-ui-explorer.webp
  apps/landing/public/database-table-plus.webp
  apps/landing/public/locations.webp
  apps/landing/public/schema.webp
  apps/landing/public/thumbnails.webp
  apps/landing/src/components/Footer.tsx
  docs/company/legal/privacy.md
  docs/developers/architecture/database.md
  docs/developers/architecture/explorer.md
  docs/developers/architecture/extensions.md
  docs/developers/architecture/libraries.md
  docs/developers/architecture/spaces.md
  docs/developers/clients/cli.md
  docs/developers/clients/rust.md
  docs/developers/prerequisites/welcome.md
  docs/product/getting-started/introduction.md
  docs/product/getting-started/terminology.md
Due: lint, markdown-link-check

fixed traffic lights bar showing all the time desconstructed props inside TrafficLights
  apps/desktop/src-tauri/src/main.rs
  packages/interface/src/components/os/TrafficLights.tsx
Due: lint

fixed traffic lights bar showing all the time (#464)
  apps/desktop/src-tauri/src/main.rs
  packages/interface/src/components/os/TrafficLights.tsx
Due: lint

remove 'tailwind' dependency
  apps/web/package.json
  pnpm-lock.yaml
Due: none

remove 'tailwind' dependency
  apps/landing/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: none

use node 16
  package.json
  packages/interface/package.json
  pnpm-lock.yaml
Due: none

use node 16
  apps/landing/package.json
  package.json
  packages/interface/package.json
  pnpm-lock.yaml
Due: none

update node version in contributing guide
  CONTRIBUTING.md
Due: markdown-link-check
