Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

use react mounting queue
  packages/client/src/core.ts
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

fully prevent against multiple mount jobs of the same key with the rust queue
  crates/crypto/src/keys/keymanager.rs
Due: none

show keymanager as unlocking in the UI
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

handle query invalidation for `isKeyManagerUnlocking` with a closure (semi-temporary)
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

revert changing text (doesn't work where the keymanager is unlocked from, only the other unlock screen)
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

clippy
  crates/crypto/src/keys/keymanager.rs
Due: none

add `useRef` for mounting queue within react
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

goodbye p2p
  Cargo.lock
  crates/p2p/Cargo.toml
  crates/p2p/README.md
  crates/p2p/docs-wip/index.md
  crates/p2p/examples/basic.rs
  crates/p2p/src/discovery/global_discovery.rs
  crates/p2p/src/discovery/mdns.rs
  crates/p2p/src/discovery/mod.rs
  crates/p2p/src/discovery/stack.rs
  crates/p2p/src/lib.rs
  crates/p2p/src/network_manager/mod.rs
  crates/p2p/src/network_manager/nm.rs
  crates/p2p/src/network_manager/nm_config.rs
  crates/p2p/src/network_manager/nm_error.rs
  crates/p2p/src/network_manager/nm_internal.rs
  crates/p2p/src/network_manager/nm_server.rs
  crates/p2p/src/network_manager/proto.rs
  crates/p2p/src/p2p_manager.rs
  crates/p2p/src/peer/mod.rs
  crates/p2p/src/peer/peer.rs
  crates/p2p/src/peer/peer_candidate.rs
  crates/p2p/src/peer/peer_metadata.rs
  crates/p2p/src/utils/identity.rs
  crates/p2p/src/utils/mod.rs
  crates/p2p/tunnel/Cargo.toml
  crates/p2p/tunnel/Dockerfile
  crates/p2p/tunnel/README.md
  crates/p2p/tunnel/fly.toml
  crates/p2p/tunnel/src/bin/generate-env.rs
  crates/p2p/tunnel/src/main.rs
  crates/p2p/tunnel/utils/Cargo.toml
  crates/p2p/tunnel/utils/src/client.rs
  crates/p2p/tunnel/utils/src/lib.rs
  crates/p2p/tunnel/utils/src/peer_id.rs
  crates/p2p/tunnel/utils/src/proto.rs
  crates/p2p/tunnel/utils/src/quic.rs
  crates/p2p/tunnel/utils/src/rmp_quic.rs
Due: markdown-link-check

ping -> pong
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  crates/p2p/Cargo.toml
  crates/p2p/examples/basic.rs
  crates/p2p/src/event.rs
  crates/p2p/src/lib.rs
  crates/p2p/src/manager.rs
  crates/p2p/src/manager_ref.rs
  crates/p2p/src/spacetime.rs
  crates/p2p/src/utils.rs
Due: none

pass `ref.current` to `Key` instead
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

integrate form abstraction
  Cargo.lock
  Cargo.toml
  apps/desktop/package.json
  crates/sync/src/lib.rs
  packages/interface/package.json
  packages/interface/src/components/dialog/AddLocationDialog.tsx
  packages/interface/src/components/dialog/AlertDialog.tsx
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
  packages/interface/src/components/primitive/Checkbox.tsx
  packages/interface/src/components/primitive/PopoverPicker.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/ui/package.json
  packages/ui/src/Button.tsx
  packages/ui/src/CheckBox.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/src/Input.tsx
  packages/ui/src/Switch.tsx
  packages/ui/src/forms/CheckBox.tsx
  packages/ui/src/forms/Form.tsx
  packages/ui/src/forms/FormField.tsx
  packages/ui/src/forms/Input.tsx
  packages/ui/src/forms/Switch.tsx
  packages/ui/src/forms/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: lint

update pnpm.lock
  pnpm-lock.yaml
Due: none

keypair in node state
  core/src/api/mod.rs
  core/src/lib.rs
  core/src/node/config.rs
  crates/p2p/src/keypair.rs
  crates/p2p/src/lib.rs
  packages/client/src/core.ts
Due: lint

Cargo fmt
  crates/p2p/examples/basic.rs
  crates/p2p/src/event.rs
  crates/p2p/src/manager.rs
  crates/p2p/src/manager_ref.rs
  crates/p2p/src/spacetime.rs
  crates/p2p/src/utils.rs
Due: none

use better import of forms stuff
  packages/interface/src/components/dialog/AlertDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
Due: lint

monkey patch sync onto p2p
  core/src/lib.rs
  core/src/library/library_manager.rs
  core/src/p2p/mod.rs
  core/src/p2p/peer_metadata.rs
  crates/p2p/src/manager.rs
Due: none

Checking MacOS file system events using FSEvents instead od Kqueue
  Cargo.lock
  core/Cargo.toml
  core/src/location/manager/watcher/mod.rs
Due: none

Trying to figure out why events didn't matched
  core/src/location/manager/watcher/mod.rs
Due: none

pull out request_response proto
  Cargo.lock
  crates/p2p/Cargo.toml
  crates/p2p/src/event.rs
  crates/p2p/src/manager.rs
  crates/p2p/src/spacetime.rs
  crates/p2p/src/spacetime/codec.rs
  crates/p2p/src/spacetime/handler.rs
  crates/p2p/src/spacetime/handler/protocol.rs
  crates/p2p/src/spacetime/mod.rs
Due: none

refactor behaviour handling from nm to spacetime
  crates/p2p/src/event.rs
  crates/p2p/src/manager.rs
  crates/p2p/src/spacetime/codec.rs
  crates/p2p/src/spacetime/handler.rs
  crates/p2p/src/spacetime/mod.rs
Due: none

Drop `Codec` trait
  crates/p2p/src/event.rs
  crates/p2p/src/manager.rs
  crates/p2p/src/spacetime/codec.rs
  crates/p2p/src/spacetime/handler.rs
  crates/p2p/src/spacetime/handler/protocol.rs
  crates/p2p/src/spacetime/mod.rs
Due: none

Drop `Config`
  crates/p2p/src/spacetime/mod.rs
Due: none

Drop `RequestResponseCodec`
  crates/p2p/src/spacetime/codec.rs
  crates/p2p/src/spacetime/mod.rs
Due: none

fix file path syncing
  core/src/sync/mod.rs
  crates/sync/src/crdt.rs
  crates/sync/src/db.rs
  crates/sync/src/lib.rs
Due: none

move it around till it feels right
  crates/p2p/src/manager.rs
  crates/p2p/src/spacetime/behaviour.rs
  crates/p2p/src/spacetime/event.rs
  crates/p2p/src/spacetime/handler.rs
  crates/p2p/src/spacetime/mod.rs
  crates/p2p/src/spacetime/protocol.rs
Due: none

Drop `ProtocolSupport`
  crates/p2p/src/spacetime/behaviour.rs
  crates/p2p/src/spacetime/protocol.rs
Due: none

fix spacetime
  crates/p2p/src/manager.rs
  crates/p2p/src/spacetime/behaviour.rs
  crates/p2p/src/spacetime/event.rs
  crates/p2p/src/spacetime/handler.rs
  crates/p2p/src/spacetime/mod.rs
Due: none

add `PeerBootstrapProgress` to library context
  core/src/api/mod.rs
  core/src/library/library_ctx.rs
  core/src/p2p/mod.rs
Due: none

use origin instead of url for web
  apps/web/src/App.tsx
  apps/web/src/env.d.ts
Due: lint

add helper functions for getting context-menu related filesystem info
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/object/fs/mod.rs
Due: none

update comments and such
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/object/fs/mod.rs
Due: none

add a barebones delete job
  core/src/object/fs/delete.rs
Due: none

add file deletion route
  core/src/api/files.rs
  core/src/object/fs/delete.rs
  core/src/object/fs/mod.rs
  packages/client/src/core.ts
Due: lint

Begin form abstraction (#515)
  Cargo.lock
  Cargo.toml
  apps/desktop/package.json
  crates/sync/src/lib.rs
  packages/interface/package.json
  packages/interface/src/components/dialog/AddLocationDialog.tsx
  packages/interface/src/components/dialog/AlertDialog.tsx
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
  packages/interface/src/components/primitive/Checkbox.tsx
  packages/interface/src/components/primitive/PopoverPicker.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/ui/package.json
  packages/ui/src/Button.tsx
  packages/ui/src/CheckBox.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/src/Input.tsx
  packages/ui/src/Switch.tsx
  packages/ui/src/forms/CheckBox.tsx
  packages/ui/src/forms/Form.tsx
  packages/ui/src/forms/FormField.tsx
  packages/ui/src/forms/Input.tsx
  packages/ui/src/forms/Switch.tsx
  packages/ui/src/forms/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: lint

add (empty but working) delete file dialog
  packages/interface/src/components/dialog/DeleteFileDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
Due: lint
