Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

rename mobile package to @sd/mobile
  apps/mobile/package.json
Due: none

rename mobile package to @sd/mobile (#453)
  apps/mobile/package.json
Due: none

tabs > spaces
  apps/mobile/package.json
Due: none

use @sd/client for tsconfig extends
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  apps/desktop/vite.config.ts
  apps/landing/package.json
  apps/landing/src/pages/roadmap.page.tsx
  apps/landing/tsconfig.json
  apps/landing/vite.config.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/config/base.tsconfig.json
  packages/interface/tsconfig.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: lint

merge jamie's identifier PR
  apps/server/package.json
  core/src/api/jobs.rs
  core/src/job/job_manager.rs
  core/src/lib.rs
  core/src/location/mod.rs
  core/src/object/cas.rs
  core/src/object/identifier_job/mod.rs
  crates/file-ext/src/extensions.rs
  crates/file-ext/src/magic.rs
  packages/client/src/core.ts
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/dialog/AddLocationDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/style/style.scss
Due: lint

move all svgs to @sd/assets
  apps/landing/src/components/HomeCTA.tsx
  apps/landing/src/pages/index.page.tsx
  apps/landing/src/pages/team.page.tsx
  packages/assets/svgs/alert.svg
  packages/assets/svgs/arrow-right.svg
  packages/assets/svgs/drive.svg
  packages/assets/svgs/info.svg
  packages/assets/svgs/macos_close.svg
  packages/assets/svgs/macos_fullscreen.svg
  packages/assets/svgs/macos_minimize.svg
  packages/assets/svgs/spinner.svg
  packages/interface/src/assets/svg/drive.svg
  packages/interface/src/components/os/TrafficLights.tsx
  pnpm-lock.yaml
Due: lint

implement requested changes
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

use a single `useMemo`
  packages/interface/src/components/key/KeyList.tsx
Due: lint

update schema with defaults
  core/prisma/schema.prisma
Due: none

re-generate migrations
  core/prisma/migrations/20221102114916_key_update/migration.sql
Due: none

updated contributing readme for spelling issues
  CONTRIBUTING.md
Due: markdown-link-check

use rust enums in TS
  Cargo.lock
  core/src/api/keys.rs
  crates/crypto/Cargo.toml
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/keys/hashing.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

remove dead code
  core/src/api/keys.rs
Due: none

remove mutate expansion
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

Sync tailwind configs
  apps/mobile/src/containers/modals/ImportModal.tsx
  apps/mobile/tailwind.config.js
Due: lint

fully repaired identifier job
  core/src/location/manager.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/identifier_job/mod.rs
  crates/file-ext/src/magic.rs
Due: none

properly hooked up object kind
  apps/server/Cargo.toml
  core/src/job/worker.rs
  core/src/location/mod.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/preview/thumb.rs
  crates/file-ext/src/extensions.rs
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/util/kind.ts
Due: lint

inspector fix
  packages/interface/src/components/explorer/Inspector.tsx
Due: lint

fix video badge
  core/src/api/files.rs
  core/src/location/mod.rs
  core/src/object/preview/thumb.rs
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/util/explorerStore.ts
  packages/ui/src/Dropdown.tsx
  packages/ui/src/OverlayPanel.tsx
Due: lint

small improvements to libraries settings
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
Due: lint

Update package.json
  package.json
Due: none

Update .npmrc
  .npmrc
Due: none

add draft keymanager docs
  docs/developers/architecture/key-manager.md
Due: markdown-link-check

add key encryption, rngs, performance and structure
  docs/developers/architecture/key-manager.md
Due: markdown-link-check

Switch to new colors part 1
  apps/mobile/src/App.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/primitive/Button.tsx
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/containers/browse/BrowseLocationItem.tsx
  apps/mobile/src/containers/browse/BrowseTagItem.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/navigation/tabs/NodesStack.tsx
  apps/mobile/src/navigation/tabs/PhotosStack.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/screens/Nodes.tsx
  apps/mobile/src/screens/NotFound.tsx
  apps/mobile/src/screens/Photos.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/modals/Search.tsx
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  apps/mobile/tailwind.config.js
Due: lint

add header structures and information
  docs/developers/architecture/encryption.md
Due: markdown-link-check

identifier and inspector improvements
  apps/desktop/src-tauri/src/main.rs
  apps/landing/public/thumbnails.webp
  core/src/api/jobs.rs
  core/src/object/identifier_job/mod.rs
  core/src/object/preview/metadata.rs
  core/src/object/preview/thumb.rs
  crates/file-ext/src/extensions.rs
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/explorer/inspector/MetaItem.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/constants/file-types.json
  packages/interface/src/util/explorerStore.ts
  packages/ui/src/ContextMenu.tsx
Due: lint

read key list from keymanager, not prisma
  Cargo.lock
  core/src/api/keys.rs
  crates/crypto/Cargo.toml
  crates/crypto/src/keys/keymanager.rs
Due: none

add "Default" key marker and cleanup TS
  packages/client/src/core.ts
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

fix feature flags and hook up context menu location utilities
  core/prisma/schema.prisma
  core/src/api/files.rs
  core/src/api/locations.rs
  core/src/object/identifier_job/mod.rs
  core/src/object/preview/metadata.rs
  packages/client/src/core.ts
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
Due: lint

BETTER CONTEXT MENU x100
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/ui/src/ContextMenu.tsx
Due: lint

new colors part 2
  .vscode/settings.json
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/components/layout/Modal.tsx
  apps/mobile/src/components/primitive/Divider.tsx
  apps/mobile/src/containers/drawer/DrawerContent.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/NodesStack.tsx
  apps/mobile/src/navigation/tabs/OverviewStack.tsx
  apps/mobile/src/navigation/tabs/SpacesStack.tsx
Due: lint

style tweaks
  apps/landing/public/locations.webp
  packages/assets/icons/vue.svg
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/settings/SettingsHeader.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/info/AboutSpacedrive.tsx
  packages/interface/src/style.scss
  packages/ui/style/colors.scss
Due: lint

new icon designs
  packages/assets/images/Alias.png
  packages/assets/images/Archive.png
  packages/assets/images/Document_doc.png
  packages/assets/images/Document_pdf.png
  packages/assets/images/Document_xls.png
  packages/assets/images/Executable.png
  packages/assets/images/File.png
  packages/assets/images/Folder.png
  packages/assets/images/Unknown.png
  packages/assets/images/Video.png
  packages/assets/svgs/file.svg
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/style.scss
  packages/ui/src/OverlayPanel.tsx
  packages/ui/style/colors.scss
Due: lint

fix prod build not working & thumbnails on web
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/index.html
  packages/client/src/index.ts
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
