Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

Merge branch 'eng-259-identify-objectkind'
  Cargo.lock
  apps/desktop/package.json
  apps/landing/src/pages/docs/index.page.server.ts
  apps/landing/src/renderer/_default.page.client.tsx
  apps/mobile/pnpm-lock.yaml
  core/Cargo.toml
  core/src/object/identifier_job.rs
  crates/file-ext/src/kind.rs
  crates/sync/docs/HLC.md
  docs/developers/architecture/sync.md
  packages/client/src/stores/explorerStore.ts
  packages/interface/package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/style.scss
  packages/ui/package.json
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/style/style.scss
  pnpm-lock.yaml
Due: lint, markdown-link-check

custom APT flags for Rust CI workflow + why Prisma!
  .github/workflows/mobile-ci.yaml
  .github/workflows/rust.yml
Due: none

Fix core on mobile
  apps/mobile/rust/Cargo.toml
  apps/mobile/src/stores/libraryStore.ts
  core/src/api/mod.rs
  packages/client/src/hooks/useCurrentLibrary.tsx
  pnpm-lock.yaml
Due: lint

Add platform context to mobile
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  packages/client/src/context/Platform.tsx
  pnpm-lock.yaml
Due: lint

refactor progress
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerOptionsPanel.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileRow.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/inspector/Divider.tsx
  packages/interface/src/components/explorer/inspector/MetaItem.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/primitive/Listbox.tsx
  packages/interface/src/components/primitive/ProgressBar.tsx
  packages/interface/src/components/primitive/Slider.tsx
  packages/interface/src/components/primitive/Toasts.tsx
  packages/interface/src/components/primitive/Toggle.tsx
  packages/interface/src/components/primitive/Variants.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/node/P2PSettings.tsx
  packages/interface/src/style.scss
  packages/ui/src/Button.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/Typography.tsx
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
Due: lint

Refactor libraryStore
  apps/mobile/src/App.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/stores/libraryStore.ts
Due: lint

dropdown refactor
  packages/interface/package.json
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/ui/package.json
  packages/ui/src/Dropdown.tsx
  pnpm-lock.yaml
Due: lint

dropdown refactor
  apps/landing/src/components/NavBar.tsx
  packages/interface/package.json
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/ui/package.json
  packages/ui/src/Dropdown.tsx
  pnpm-lock.yaml
Due: lint

remove openssl from core
  Cargo.lock
  Cargo.toml
  apps/mobile/rust/Cargo.toml
  core/Cargo.toml
Due: none

eas include Prisma client
  .easignore
  .github/workflows/mobile-ci.yaml
Due: none

reenable lint
  .github/workflows/mobile-ci.yaml
Due: none

refactor switch component + update styles
  .vscode/settings.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/ErrorFallback.tsx
  packages/interface/src/NotFound.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/Divider.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
  packages/interface/src/components/primitive/Toggle.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/client/AppearanceSettings.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/client/KeybindingSettings.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/ExperimentalSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/interface/src/screens/settings/node/P2PSettings.tsx
  packages/interface/src/style.scss
  packages/ui/package.json
  packages/ui/src/Button.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/Input.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/src/Select.tsx
  packages/ui/src/Switch.tsx
  packages/ui/src/Tabs.tsx
  packages/ui/src/index.ts
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
  pnpm-lock.yaml
Due: lint

refactor switch component + update styles
  .vscode/settings.json
  apps/landing/src/components/HomeCTA.tsx
  apps/landing/src/pages/careers.page.tsx
  apps/landing/src/renderer/_error.page.tsx
  packages/interface/src/AppLayout.tsx
  packages/interface/src/ErrorFallback.tsx
  packages/interface/src/NotFound.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/Divider.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
  packages/interface/src/components/primitive/Toggle.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/client/AppearanceSettings.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/client/KeybindingSettings.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/ExperimentalSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/interface/src/screens/settings/node/P2PSettings.tsx
  packages/interface/src/style.scss
  packages/ui/package.json
  packages/ui/src/Button.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/Input.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/src/Select.tsx
  packages/ui/src/Switch.tsx
  packages/ui/src/Tabs.tsx
  packages/ui/src/index.ts
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
  pnpm-lock.yaml
Due: lint

styled explorer top bar
  packages/assets/svgs/caret.svg
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/style.scss
  packages/ui/package.json
  packages/ui/src/Dropdown.tsx
  packages/ui/src/Select.tsx
  packages/ui/src/Switch.tsx
  packages/ui/src/Tabs.tsx
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
  pnpm-lock.yaml
Due: lint

morpe stuf
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/layout/Card.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/ui/style/colors.scss
Due: lint

Add the new crates into CODEOWNERS
  .github/CODEOWNERS
Due: none

remove TEMP overrides
  .github/workflows/desktop-ci.yml
  .github/workflows/mobile-ci.yaml
  .github/workflows/rust.yml
Due: none

more theming
  packages/assets/svgs/caret.svg
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/primitive/Slider.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/Photos.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/Select.tsx
  packages/ui/src/Tabs.tsx
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
Due: lint

further tweaking
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src/index.html
  apps/web/src/index.html
  packages/interface/src/App.tsx
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/hooks/useMediaQuery.ts
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/Select.tsx
  packages/ui/style/colors.scss
Due: lint

fix(interface/settings): remove library dep when updating general settings
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

LibraryGeneralSettings use react-hook-form
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

Fix Typescript errors
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

more theming
  apps/landing/src/components/NavBar.tsx
  packages/interface/package.json
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/jobs/RunningJobsWidget.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Card.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/client/AppearanceSettings.tsx
  packages/interface/src/screens/settings/client/ExtensionsSettings.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/client/PrivacySettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/src/Layout.tsx
  packages/ui/src/index.ts
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
  pnpm-lock.yaml
Due: lint

more theming
  packages/interface/package.json
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/jobs/RunningJobsWidget.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Card.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/client/AppearanceSettings.tsx
  packages/interface/src/screens/settings/client/ExtensionsSettings.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/client/PrivacySettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/src/Layout.tsx
  packages/ui/src/index.ts
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
  pnpm-lock.yaml
Due: lint

Add thumb url path to platform context
  apps/mobile/src/App.tsx
  apps/mobile/src/components/animation/lottie.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
  apps/mobile/src/components/layout/Modal.tsx
  apps/mobile/src/containers/drawer/DrawerContent.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
  apps/mobile/src/stores/onboardingStore.ts
Due: lint

finish theming
  apps/desktop/src/index.tsx
  apps/landing/src/components/HomeCTA.tsx
  apps/landing/src/style.scss
  crates/file-ext/src/magic.rs
  packages/interface/src/AppLayout.tsx
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/primitive/InputContainer.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/style/colors.scss
  packages/ui/style/style.scss
  packages/ui/style/tailwind.js
Due: lint

finish theming
  apps/desktop/src/index.tsx
  crates/file-ext/src/magic.rs
  packages/interface/src/AppLayout.tsx
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/primitive/InputContainer.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/style/colors.scss
  packages/ui/style/style.scss
  packages/ui/style/tailwind.js
Due: lint

fix button
  apps/landing/src/components/HomeCTA.tsx
Due: lint

remove spline test
  packages/interface/src/screens/Content.tsx
  packages/interface/src/screens/Photos.tsx
Due: lint

[ENG-258] Key Manager and Crypto Crate Improvements (#423)
  Cargo.lock
  core/Cargo.toml
  core/prisma/schema.prisma
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  crates/crypto/Cargo.toml
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/keys/mod.rs
Due: none

fix(interface/settings): remove `library` dep when updating general settings (#432)
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
