Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

add newly registered key to db + fmt
  core/src/api/keys.rs
  core/src/api/mod.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

clippy, formatting and `updateKeyName` route
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
Due: lint

Add zip and video to filethumb
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
  apps/mobile/src/hooks/useLoadApp.ts
  packages/interface/src/components/explorer/FileThumb.tsx
Due: lint

add automount to schema+automount keys where `true`
  core/prisma/schema.prisma
  core/src/api/keys.rs
Due: none

begin remove hero icons
  core/src/job/job_manager.rs
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/settings/SettingsContainer.tsx
  packages/interface/src/components/settings/SettingsHeader.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/style/colors.scss
Due: lint

update bindings
  packages/client/src/core.ts
Due: lint

goofy ah copilot
  core/src/job/job_manager.rs
Due: none

working key add/mount
  core/src/api/keys.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

Fix typo in Homebrew error message
  .github/scripts/setup-system.sh
Due: none

working sync
  crates/sync/example/api/src/api/mod.rs
  crates/sync/example/web/src/App.tsx
  crates/sync/example/web/src/index.tsx
  crates/sync/example/web/src/test.ts
  crates/sync/example/web/src/utils/bindings.ts
  crates/sync/example/web/src/utils/rspc.ts
  crates/sync/src/db.rs
Due: lint

removed hero icons completely
  apps/landing/package.json
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/DocsSidebar.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/careers.page.tsx
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/docs/docs.ts
  apps/landing/vite.config.ts
  packages/interface/package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Modal.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/primitive/Listbox.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/package.json
  packages/ui/src/Select.tsx
  pnpm-lock.yaml
Due: lint

Improve setup script (#436)
  .github/scripts/setup-system.sh
  CONTRIBUTING.md
  apps/landing/src/pages/roadmap.page.tsx
  crates/ffmpeg/README.md
  crates/ffmpeg/src/error.rs
  docs/developers/prerequisites/environment-setup.md
Due: lint, markdown-link-check

Improve setup script (#436)
  .github/scripts/setup-system.sh
  CONTRIBUTING.md
  crates/ffmpeg/README.md
  crates/ffmpeg/src/error.rs
  docs/developers/prerequisites/environment-setup.md
Due: markdown-link-check

fix last icon
  apps/landing/src/pages/careers.page.tsx
Due: lint

Polish Icon Usage (#437)
  apps/landing/package.json
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/DocsSidebar.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/careers.page.tsx
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/docs/docs.ts
  apps/landing/vite.config.ts
  core/src/job/job_manager.rs
  packages/interface/package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Modal.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/primitive/Listbox.tsx
  packages/interface/src/components/settings/SettingsContainer.tsx
  packages/interface/src/components/settings/SettingsHeader.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/package.json
  packages/ui/src/Dropdown.tsx
  packages/ui/src/Select.tsx
  packages/ui/style/colors.scss
  pnpm-lock.yaml
Due: lint

Polish Icon Usage (#437)
  core/src/job/job_manager.rs
  packages/interface/package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Modal.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/primitive/Listbox.tsx
  packages/interface/src/components/settings/SettingsContainer.tsx
  packages/interface/src/components/settings/SettingsHeader.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/package.json
  packages/ui/src/Dropdown.tsx
  packages/ui/src/Select.tsx
  packages/ui/style/colors.scss
  pnpm-lock.yaml
Due: lint

Delete bindings.ts from mobile
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/App.tsx
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
  apps/mobile/src/containers/OverviewStats.tsx
  apps/mobile/src/stores/modalStore.ts
  apps/mobile/src/types/bindings.ts
  apps/mobile/src/types/helper.ts
  apps/mobile/tsconfig.json
Due: lint

relation operations
  crates/sync/src/crdt.rs
  crates/sync/src/db.rs
  crates/sync/src/main.rs
Due: none

Remove heroicons from mobile too
  apps/mobile/package.json
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/containers/drawer/DrawerContent.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/containers/modals/FileModal.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  pnpm-lock.yaml
Due: lint

fix pnpm lock
  pnpm-lock.yaml
Due: none

please rustfmt
  crates/sync/example/api/src/utils.rs
Due: none

fix api
  crates/sync/example/api/src/api/mod.rs
  crates/sync/example/web/src/utils/bindings.ts
Due: lint

compare strings properly
  crates/sync/example/web/src/App.tsx
Due: lint

working keylist
  packages/interface/src/components/key/KeyList.tsx
Due: lint

mounted keys show first
  packages/interface/src/components/key/KeyList.tsx
Due: lint

cleanup code
  packages/interface/src/components/key/KeyList.tsx
Due: lint

please clippy
  apps/mobile/rust/src/android.rs
  core/src/api/jobs.rs
  crates/sync/example/.cargo/config.toml
  crates/sync/example/.vscode/extensions.json
  crates/sync/example/api/src/api/mod.rs
  crates/sync/example/web/pnpm-lock.yaml
  crates/sync/src/db.rs
Due: none

feature gate logging
  apps/server/src/main.rs
  core/src/lib.rs
Due: none

useForwardedRef hook
  apps/mobile/package.json
  apps/mobile/src/hooks/useForwardedRef.ts
  pnpm-lock.yaml
Due: lint

Media Library permission stuff
  apps/mobile/src/containers/modals/ImportModal.tsx
Due: lint

Location metadata relink and add library
  core/src/api/locations.rs
  core/src/lib.rs
  core/src/location/error.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager.rs
  core/src/location/metadata.rs
  core/src/location/mod.rs
  packages/client/src/core.ts
Due: lint

Some initial drafts for location watchers
  Cargo.lock
  core/Cargo.toml
  core/src/location/manager.rs
Due: none

Introducing location online/offline checks and location relink
  core/prisma/migrations/20221004133318_init/migration.sql
  core/src/api/locations.rs
  core/src/lib.rs
  core/src/library/library_ctx.rs
  core/src/location/error.rs
  core/src/location/manager.rs
  core/src/location/mod.rs
Due: none

update team page
  apps/landing/src/assets/images/team/haris.jpg
  apps/landing/src/assets/images/team/jake.jpg
  apps/landing/src/assets/images/team/mihail.jpg
  apps/landing/src/components/TeamMember.tsx
  apps/landing/src/pages/team.page.tsx
  packages/ui/style/colors.scss
Due: lint

Update Team Page (#440)
  packages/ui/style/colors.scss
Due: none

Update Team Page (#440)
  apps/landing/src/assets/images/team/haris.jpg
  apps/landing/src/assets/images/team/jake.jpg
  apps/landing/src/assets/images/team/mihail.jpg
  apps/landing/src/components/TeamMember.tsx
  apps/landing/src/pages/team.page.tsx
  packages/ui/style/colors.scss
Due: lint

use prisma 0.6.3
  Cargo.lock
  Cargo.toml
Due: none

use bleeding rspc in example
  crates/sync/example/web/package.json
  pnpm-lock.yaml
Due: none

use bleeding rspc
  crates/sync/example/web/src/index.tsx
  crates/sync/example/web/src/utils/rspc.ts
Due: lint

Update Prisma (#441)
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
