Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

remove aliases from landing?
  apps/landing/vite.config.ts
  pnpm-lock.yaml
Due: lint

use wacky landing vite config
  apps/landing/vite.config.ts
  packages/client/package.json
  packages/ui/package.json
Due: lint

try using tsconfig paths and root on landing
  apps/landing/vite.config.ts
Due: lint

Revert "try using tsconfig paths and root on landing"
  apps/landing/vite.config.ts
Due: lint

Update .nvmrc
  .nvmrc
Due: none

Add empty content to Privacy Policy page
  docs/company/legal/privacy.md
Due: markdown-link-check

sync with library button
  core/src/api/keys.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

fix `rspc` feature and add passphrase generation
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/assets/eff_large_wordlist.txt
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/primitives.rs
Due: none

untested key manager rework
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

trying to return values from mutations
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

update library manager and remove settiong master PW
  core/src/library/library_manager.rs
Due: none

update bindings
  packages/client/src/core.ts
Due: lint

set static secret key/master password
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

prompt user for master password if correct one hasn't been provided yet
  packages/interface/src/components/key/KeyManager.tsx
Due: lint

add `hasMasterPassword` route
  core/src/api/keys.rs
  packages/client/src/core.ts
Due: lint

remove tsconfig-paths from landing
  apps/landing/package.json
  apps/landing/vite.config.ts
  pnpm-lock.yaml
Due: lint

Utilise tsconfig paths for workspace module resolution (#454)
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  apps/desktop/vite.config.ts
  apps/landing/package.json
  apps/landing/src/components/HomeCTA.tsx
  apps/landing/src/pages/index.page.tsx
  apps/landing/src/pages/roadmap.page.tsx
  apps/landing/src/pages/team.page.tsx
  apps/landing/tsconfig.json
  apps/landing/vite.config.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/assets/svgs/alert.svg
  packages/assets/svgs/arrow-right.svg
  packages/assets/svgs/drive.svg
  packages/assets/svgs/info.svg
  packages/assets/svgs/macos_close.svg
  packages/assets/svgs/macos_fullscreen.svg
  packages/assets/svgs/macos_minimize.svg
  packages/assets/svgs/spinner.svg
  packages/client/package.json
  packages/config/base.tsconfig.json
  packages/interface/src/assets/svg/drive.svg
  packages/interface/src/components/os/TrafficLights.tsx
  packages/interface/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: lint

Utilise tsconfig paths for workspace module resolution (#454)
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  apps/desktop/vite.config.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/assets/svgs/alert.svg
  packages/assets/svgs/arrow-right.svg
  packages/assets/svgs/drive.svg
  packages/assets/svgs/info.svg
  packages/assets/svgs/macos_close.svg
  packages/assets/svgs/macos_fullscreen.svg
  packages/assets/svgs/macos_minimize.svg
  packages/assets/svgs/spinner.svg
  packages/client/package.json
  packages/config/base.tsconfig.json
  packages/interface/src/assets/svg/drive.svg
  packages/interface/src/components/os/TrafficLights.tsx
  packages/interface/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: lint

wip
  core/prisma/schema.prisma
  core/src/location/error.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager.rs
  core/src/location/mod.rs
  core/src/object/identifier_job/mod.rs
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/layout/Sidebar.tsx
Due: lint

add `clearMasterPassword` route + remove dead code
  core/src/api/keys.rs
Due: none

tweak `set_master_password()` and add dedicated error
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

tweak UI, fix `few hooks than expected`, add unmount+lock button
  packages/client/src/core.ts
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

remove old comment
  core/src/api/keys.rs
Due: none

fmt
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
Due: none

clippy
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
Due: none

move static key/password setting so it doesn't fail sometimes
  core/src/library/library_manager.rs
Due: none

add dedicated `get_key()` and remove keys from memory
  crates/crypto/src/keys/keymanager.rs
Due: none

add `getKey` route
  core/src/api/keys.rs
Due: none

use `const` instead of `let`
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

function name fix
  core/src/location/mod.rs
Due: none

Fixing pnpm prep and some warnings
  core/src/library/library_ctx.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager.rs
  core/src/location/mod.rs
  core/src/object/identifier_job/mod.rs
  core/src/object/preview/media_data.rs
  core/src/object/preview/thumb.rs
Due: none

comment updates
  crates/crypto/src/keys/keymanager.rs
Due: none

update schema to remove salt
  core/prisma/schema.prisma
Due: none

add string parse error
  crates/crypto/src/error.rs
Due: none

generate passphrase within key manager
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
Due: lint

generate new migrations
  core/prisma/migrations/20221108102622_salt_removal/migration.sql
Due: none

feature gate serde support in `crypto` crate
  core/Cargo.toml
  crates/crypto/Cargo.toml
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
