Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

add tooltips
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/layout/Sidebar.tsx
Due: lint

add super experimental file erase function
  crates/crypto/src/fs/erase.rs
  crates/crypto/src/fs/mod.rs
  crates/crypto/src/lib.rs
Due: none

update function doc
  crates/crypto/src/fs/erase.rs
Due: none

add erase files route
  core/src/api/files.rs
Due: none

add erase files job
  core/src/object/fs/erase.rs
Due: none

tweak file erasing in crypto crate
  core/src/object/fs/mod.rs
  crates/crypto/src/fs/erase.rs
Due: none

bindings
  packages/client/src/core.ts
Due: lint

add erase files dialog
  packages/interface/src/components/dialog/DeleteFileDialog.tsx
  packages/interface/src/components/dialog/EraseFileDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
Due: lint

add missing `?`
  core/src/object/fs/erase.rs
Due: none

fix video extension bug and alter screens
  packages/client/src/utils/index.ts
  packages/client/src/utils/isVideoExt.ts
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/Content.tsx
  packages/interface/src/screens/Media.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/OverviewOld.tsx
  packages/interface/src/screens/People.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/Spaces.tsx
  packages/ui/src/Layout.tsx
  packages/ui/src/Typography.tsx
  packages/ui/style/tailwind.js
Due: lint

add more tooltips
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
Due: lint

change label to Key Manager
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
Due: lint

MacOS file system event handling using FSEvents backend
  core/src/location/manager/watcher/macos.rs
  core/src/location/manager/watcher/mod.rs
Due: none

Fixing unit tests for MacOS
  core/src/location/manager/watcher/macos.rs
  core/src/location/manager/watcher/mod.rs
Due: none

Removing metadata files that failed to be deserialized
  core/src/location/metadata.rs
  core/src/object/fs/encrypt.rs
Due: none

remove stray comma on Spaces page
  docs/developers/architecture/spaces.md
Due: markdown-link-check

generate sync ids and use model name from ModelActions
  core/prisma/schema.prisma
  core/src/location/mod.rs
  core/src/sync/mod.rs
  crates/sync-generator/src/attribute/mod.rs
  crates/sync-generator/src/attribute/parser.rs
  crates/sync-generator/src/lib.rs
  crates/sync/src/lib.rs
Due: none

cleanup AddLocationDialog imports
  packages/interface/src/components/dialog/AddLocationDialog.tsx
Due: lint

rustfmt
  crates/sync-generator/src/lib.rs
Due: none

remove fullName variable
  packages/interface/src/components/explorer/FileItem.tsx
Due: lint

Eng 332 auto generate sync ids (#523)
  core/prisma/schema.prisma
  core/src/location/mod.rs
  core/src/sync/mod.rs
  crates/sync-generator/src/attribute/mod.rs
  crates/sync-generator/src/attribute/parser.rs
  crates/sync-generator/src/lib.rs
  crates/sync/src/lib.rs
  packages/interface/src/components/dialog/AddLocationDialog.tsx
Due: lint

fix erase file form trickery
  packages/interface/src/components/dialog/EraseFileDialog.tsx
Due: lint

remove unused imports
  packages/interface/src/components/dialog/EraseFileDialog.tsx
Due: lint

terrible attempt at recursion for file erase
  core/src/object/fs/erase.rs
  core/src/object/fs/mod.rs
Due: none

IT WORKS
  core/src/object/fs/erase.rs
  core/src/object/fs/mod.rs
Due: none

code cleanup + clippy
  core/src/object/fs/erase.rs
  core/src/object/fs/mod.rs
  crates/crypto/src/fs/erase.rs
  packages/interface/src/components/dialog/DeleteFileDialog.tsx
  packages/interface/src/components/dialog/EraseFileDialog.tsx
Due: lint

add pending schema and location manager helper
  .cspell/project_words.txt
  core/prisma/migrations/20230116221840_pending_file_path/migration.sql
  core/prisma/schema.prisma
  core/src/location/manager/watcher/utils.rs
  core/src/location/mod.rs
  core/src/object/fs/create.rs
  core/src/object/fs/error.rs
  core/src/object/fs/mod.rs
  packages/client/src/core.ts
Due: lint

Reintroducing deserialize error for location metadata on prod builds
  core/src/location/metadata.rs
Due: none

make separate tsconfig for landing server
  apps/landing/server/tsconfig.json
Due: none

make separate tsconfig for landing server (#525)
  apps/landing/server/tsconfig.json
Due: none

Desktop - Add more tooltips (#519)
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
Due: lint

better drawer
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/containers/drawer/DrawerContent.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/containers/drawer/DrawerLocations.tsx
  apps/mobile/src/containers/drawer/DrawerTags.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/tailwind.config.js
Due: lint

fix build?
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/package.json
Due: none

add swift-rs to core
  Cargo.lock
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/tauri.conf.json
  core/Cargo.toml
  core/build.rs
  core/src/volume.rs
  packages/macos/src/lib.swift
Due: none

style changes
  apps/mobile/src/components/settings/SettingsItem.tsx
  apps/mobile/src/containers/drawer/DrawerContent.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/tailwind.config.js
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
