Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

fix missing statement exec
  core/src/api/keys.rs
Due: none

general tidy up
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
Due: lint

add sync to library button and cleanup default setting code
  core/src/api/keys.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/Key.tsx
Due: lint

use alert dialogs for unsupported `open`/`save` operations (web)
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

tweak alert message
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

[ENG-315] Key viewer/general improvements (#483)
  apps/desktop/src/App.tsx
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/interface/src/util/Platform.tsx
Due: lint

Move `isVideo` into shared package
  apps/mobile/src/components/explorer/FileItem.tsx
  packages/client/src/index.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/isVideoExt.ts
  packages/interface/src/components/explorer/FileItem.tsx
Due: lint

fix build when "location-watcher" feature disabled
  core/src/location/manager/helpers.rs
  core/src/location/manager/mod.rs
Due: none

fix types + clippy
  core/src/api/files.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  crates/crypto/src/crypto/stream.rs
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/hooks/useExplorerStore.tsx
  packages/interface/src/screens/LocationExplorer.tsx
Due: lint

make location manager non-static
  core/src/lib.rs
  core/src/library/library_ctx.rs
  core/src/location/manager/mod.rs
  core/src/location/mod.rs
Due: none

remove uses of `to_string_lossy`
  core/src/api/mod.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/indexer/rules.rs
  core/src/location/manager/watcher/utils.rs
  core/src/location/mod.rs
  core/src/object/identifier_job/current_dir_identifier_job.rs
  core/src/object/preview/thumb.rs
  crates/ffmpeg/src/movie_decoder.rs
Due: none

more invalidate_query calls
  core/src/location/manager/watcher/macos.rs
  core/src/location/manager/watcher/utils.rs
  core/src/location/mod.rs
  core/src/object/identifier_job/full_identifier_job.rs
Due: none

Expose `library_ctx` directly to avoid needless clones
  core/src/job/worker.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager/watcher/macos.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/object/identifier_job/current_dir_identifier_job.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/preview/thumb.rs
  core/src/object/validation/validator_job.rs
Due: none

update generated key on slider click
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

add ui for decrypting with password+saving to key manager
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
Due: lint

update rust code to support password decryption and saving it to the library
  core/src/api/keys.rs
  core/src/object/fs/decrypt.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

add decrypt with password UI functionality
  packages/client/src/core.ts
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
Due: lint

add content salt to key viewer
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
Due: lint

disable key manager decryption if no keys are mounted
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
Due: lint

clippy
  core/src/object/fs/decrypt.rs
  crates/crypto/src/header/file.rs
Due: none

add security.txt to both / and /.well-known/
  apps/landing/public/.well-known/security.txt
  apps/landing/public/security.txt
Due: none

add public key and update security.txt URLs + re-sign it
  apps/landing/public/.well-known/security.txt
  apps/landing/public/pgp-key.txt
  apps/landing/public/security.txt
Due: none

New materialized_path handling for directories
  core/src/api/locations.rs
  core/src/location/file_path_helper.rs
  core/src/location/manager/watcher/utils.rs
  core/src/object/preview/thumb.rs
Due: none

Bump node to lts (v18)
  .github/workflows/ci.yml
  .nvmrc
  apps/landing/package.json
  package.json
  packages/interface/package.json
  pnpm-lock.yaml
Due: none

Bump node to lts (v18)
  .github/workflows/ci.yml
  .nvmrc
  package.json
  packages/interface/package.json
  pnpm-lock.yaml
Due: none

Add eslint to @sd/client & fix types
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/src/hooks/useCurrentLibrary.tsx
  packages/client/src/normi/index.ts
  packages/client/src/normi/types.ts
  packages/client/src/normi/utils.ts
Due: lint

Add `security.txt` and a public key to the landing page (#485)
  apps/landing/public/.well-known/security.txt
  apps/landing/public/pgp-key.txt
  apps/landing/public/security.txt
Due: none

Fix spacing
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/screens/settings/library/LocationSettings.tsx
  apps/mobile/src/screens/settings/library/TagsSettings.tsx
Due: lint

Removing cascade delete between file_path and object - Some other minor stuff
  core/prisma/migrations/20221004133318_init/migration.sql
  core/prisma/schema.prisma
  core/src/lib.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager/mod.rs
  core/src/location/manager/watcher/macos.rs
  core/src/location/manager/watcher/utils.rs
  core/src/location/mod.rs
  crates/ffmpeg/src/movie_decoder.rs
  crates/sync/example/api/src/api/mod.rs
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
Due: lint

[ENG-316] Decrypt with Password (#484)
  core/src/api/keys.rs
  core/src/object/fs/decrypt.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

integrate keymanager with library creation flow
  apps/desktop/src-tauri/src/main.rs
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  apps/mobile/src/screens/settings/library/LibraryGeneralSettings.tsx
  core/src/api/keys.rs
  core/src/api/libraries.rs
  core/src/library/library_config.rs
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  core/src/util/db.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/protected.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
Due: lint

Primitive popup menu
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/primitive/Menu.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/Tag.tsx
  pnpm-lock.yaml
Due: lint

updated contributing.md to node 18
  CONTRIBUTING.md
Due: markdown-link-check
