Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

[ENG-245] Object Validator Job (#414)
  apps/mobile/src/types/bindings.ts
  core/src/api/jobs.rs
  core/src/location/mod.rs
  core/src/object/cas.rs
  core/src/object/mod.rs
  core/src/object/validation/hash.rs
  core/src/object/validation/mod.rs
  core/src/object/validation/validator_job.rs
  packages/client/src/core.ts
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
Due: lint

re-import `cas.rs` from `eng-245`
  core/src/object/cas.rs
Due: none

🎉 Fix core on Android
  Cargo.lock
  apps/mobile/android/app/build.gradle
  apps/mobile/android/build.gradle
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/ios/Spacedrive.xcodeproj/xcshareddata/xcschemes/Spacedrive.xcscheme
  apps/mobile/package.json
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/ios.rs
  apps/mobile/scripts/postinstall.js
  apps/mobile/src/App.tsx
  apps/mobile/src/hooks/rspc.ts
  apps/mobile/src/lib/rspcReactNativeTransport.ts
  core/Cargo.toml
  core/src/api/mod.rs
  core/src/lib.rs
Due: lint

Removing `import React` from mobile
  apps/mobile/android/app/build.gradle
  apps/mobile/src/components/animation/layout.tsx
  apps/mobile/src/components/browse/BrowseLocationItem.tsx
  apps/mobile/src/components/browse/BrowseTagItem.tsx
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/components/file/FileIcon.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/icons/FolderIcon.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/layout/VirtualizedListWrapper.tsx
  apps/mobile/src/components/modals/layout/ModalBackdrop.tsx
  apps/mobile/src/components/modals/layout/ModalHandle.tsx
  apps/mobile/src/components/primitive/Button.tsx
  apps/mobile/src/components/primitive/Divider.tsx
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/containers/OverviewStats.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/Photos.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/modals/Search.tsx
  apps/mobile/src/screens/modals/settings/Settings.tsx
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  apps/mobile/src/stores/libraryStore.ts
  apps/mobile/src/stores/modalStore.ts
  packages/interface/src/components/location/LocationListItem.tsx
  packages/ui/src/Dropdown.tsx
Due: lint

purge unused dependencies
  apps/desktop/package.json
  apps/landing/package.json
  apps/mobile/android/app/build.gradle
  apps/mobile/package.json
  apps/mobile/src/hooks/useCounter.ts
  packages/client/package.json
  packages/interface/package.json
  packages/interface/src/components/device/Stores.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/hooks/useCounter.ts
  packages/ui/package.json
  packages/ui/src/Dropdown.tsx
  pnpm-lock.yaml
Due: lint

purge unused dependencies
  apps/desktop/package.json
  apps/mobile/android/app/build.gradle
  apps/mobile/package.json
  apps/mobile/src/hooks/useCounter.ts
  packages/client/package.json
  packages/interface/package.json
  packages/interface/src/components/device/Stores.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/hooks/useCounter.ts
  packages/ui/package.json
  packages/ui/src/Dropdown.tsx
  pnpm-lock.yaml
Due: lint

use React.PropsWithChildren
  apps/mobile/src/components/animation/layout.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/ExplorerOptionsPanel.tsx
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/components/layout/Card.tsx
  packages/interface/src/components/layout/Modal.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/primitive/InputContainer.tsx
  packages/interface/src/components/primitive/Tag.tsx
  packages/interface/src/components/settings/SettingsContainer.tsx
  packages/interface/src/components/settings/SettingsHeader.tsx
  packages/interface/src/components/tooltip/Tooltip.tsx
  packages/interface/src/components/transitions/SlideUp.tsx
  packages/ui/src/Input.tsx
  packages/ui/src/Select.tsx
Due: lint

use React.PropsWithChildren
  apps/landing/src/App.tsx
  apps/landing/src/components/Footer.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/components/TeamMember.tsx
  apps/landing/src/renderer/usePageContext.tsx
  apps/mobile/src/components/animation/layout.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/ExplorerOptionsPanel.tsx
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/components/layout/Card.tsx
  packages/interface/src/components/layout/Modal.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/primitive/InputContainer.tsx
  packages/interface/src/components/primitive/Tag.tsx
  packages/interface/src/components/settings/SettingsContainer.tsx
  packages/interface/src/components/settings/SettingsHeader.tsx
  packages/interface/src/components/tooltip/Tooltip.tsx
  packages/interface/src/components/transitions/SlideUp.tsx
  packages/ui/src/Input.tsx
  packages/ui/src/Select.tsx
Due: lint

but that blur tho
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
Due: lint

fixed object kind
  core/src/object/identifier_job.rs
Due: none

improve job reporting ui
  core/src/object/identifier_job.rs
  packages/interface/src/components/jobs/JobManager.tsx
  pnpm-lock.yaml
Due: lint

UI refactor (#418)
  apps/landing/src/components/NavBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Button.tsx
Due: lint

UI refactor (#418)
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Button.tsx
Due: lint

Fix imports
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  apps/mobile/src/containers/drawer/DrawerLocations.tsx
  apps/mobile/src/containers/drawer/DrawerTags.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
Due: lint

tweaks to blur
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/style.scss
  packages/ui/style/style.scss
Due: lint

move to react
  Cargo.lock
  Cargo.toml
  crates/sync/Cargo.toml
  crates/sync/example/api/src/api/mod.rs
  crates/sync/example/web/package.json
  crates/sync/example/web/src/App.tsx
  crates/sync/example/web/src/index.tsx
  crates/sync/example/web/src/utils/bindings.ts
  crates/sync/example/web/src/utils/rspc.ts
  crates/sync/example/web/tsconfig.json
  crates/sync/example/web/vite.config.ts
  crates/sync/src/crdt.rs
  crates/sync/src/db.rs
  crates/sync/src/main.rs
  pnpm-lock.yaml
Due: lint

sync docs
  crates/sync/docs/HLC.md
  docs/developers/architecture/sync.md
Due: markdown-link-check

move md and pvm construction to the header
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

update pvm ser/de
  crates/crypto/src/header/preview_media.rs
Due: none

update metadata ser/de
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
Due: none

additional API changes, update example
  crates/crypto/examples/single_file.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

formatting and clippy
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

update examples
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/header/file.rs
Due: none

move `impl` to associated files
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

formatting+clippy
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

add more keymanager functionality
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

add docs
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

update pnpm-lock
  apps/mobile/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

wrap `master_password` as an option
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

add `sd-crypto` crate as a dependency to `core`
  Cargo.lock
  core/Cargo.toml
Due: none

add key manager to `LibraryContext`
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
Due: none

rename `id` -> `uuid`
  crates/crypto/src/keys/keymanager.rs
Due: none

add more keymanager functions
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

add `set_master_password()` function
  crates/crypto/src/keys/keymanager.rs
Due: none

remove tauricon
  apps/desktop/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
