Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

Fix grid view spacing
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
Due: lint

dialog changes
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
Due: lint

use `then` instead of `if`
  crates/crypto/src/keys/keymanager.rs
Due: none

Grid image sizing
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
Due: lint

Explorer store + calculation of grid item size
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/stores/explorerStore.ts
Due: lint

add encrypted file magic bytes/extension
  crates/file-ext/src/extensions.rs
Due: none

use archive icon for encrypted files temporarily
  packages/interface/src/components/explorer/FileThumb.tsx
Due: lint

better router & text + database icon
  .cspell/project_words.txt
  packages/assets/images/Database.png
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/onboarding/OnboardingNewLibrary.tsx
  packages/interface/src/components/onboarding/OnboardingProgress.tsx
  packages/interface/src/components/onboarding/OnboardingRoot.tsx
  packages/interface/src/components/onboarding/OnboardingStart.tsx
  packages/interface/src/components/onboarding/helpers/screens.ts
Due: lint

Explorer list view
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileRow.tsx
Due: lint

Explorer store on filerow too
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileRow.tsx
  apps/mobile/src/stores/explorerStore.ts
Due: lint

add wip storedkey versioning
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
Due: none

storedkey versioning! (not pretty, but it never will be)
  crates/crypto/src/keys/keymanager.rs
Due: none

add version to `StoredKey` and re-gen migrations to handle serde
  core/prisma/migrations/20230110131305_key_overhaul/migration.sql
  core/prisma/schema.prisma
Due: none

use `serde` for interacting with the DB + handle errors
  core/src/library/library_manager.rs
  core/src/util/db.rs
  packages/client/src/core.ts
Due: lint

stop using expensive clones
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

add `Protected::into_inner()` to prevent `.expose().clone()` patterns
  core/src/api/keys.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/protected.rs
Due: none

use `tokio::fs::File` where possible
  core/src/api/keys.rs
  core/src/object/fs/decrypt.rs
Due: none

add and use `JobError::MissingData`
  core/src/job/mod.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
Due: none

use `|| null` for the secret key
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

use `block_in_place` for large r/w sync tasks
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
Due: none

[ENG-327] Crypto refactor (#510)
  core/src/api/keys.rs
  core/src/job/mod.rs
  core/src/library/library_manager.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  crates/crypto/Cargo.toml
  crates/crypto/benches/argon2id.rs
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/protected.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

work on privacy screen + radio buttons
  packages/interface/src/components/onboarding/OnboardingNewLibrary.tsx
  packages/interface/src/components/onboarding/OnboardingPrivacy.tsx
  packages/interface/src/components/onboarding/OnboardingProgress.tsx
  packages/interface/src/components/onboarding/OnboardingRoot.tsx
  packages/interface/src/components/onboarding/OnboardingStart.tsx
  packages/ui/package.json
  packages/ui/src/RadioGroup.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: lint

Update references to the core team
  apps/landing/src/assets/images/team/benja.jpg
  apps/landing/src/assets/images/team/haris.jpg
  apps/landing/src/pages/team.page.tsx
  docs/company/about/credits.md
Due: lint, markdown-link-check

Update references to the core team
  docs/company/about/credits.md
Due: markdown-link-check

[ENG-329] Crypto dialog refactor (#509)
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/MasterPasswordChangeDialog.tsx
Due: lint

use pascal case for encrypted extensions
  crates/file-ext/src/extensions.rs
Due: none

Detect SD-encrypted files and display them as such (#511)
  crates/file-ext/src/extensions.rs
  packages/interface/src/components/explorer/FileThumb.tsx
Due: lint

Mobile Explorer (#512)
  apps/mobile/README.md
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/explorer/FileRow.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
  apps/mobile/src/components/icons/FolderIcon.tsx
  apps/mobile/src/components/primitive/Menu.tsx
  apps/mobile/src/containers/menu/SortByMenu.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/settings/library/LocationSettings.tsx
  apps/mobile/src/screens/settings/library/TagsSettings.tsx
  apps/mobile/src/stores/explorerStore.ts
  apps/mobile/tailwind.config.js
  packages/interface/src/components/explorer/ExplorerOptionsPanel.tsx
  pnpm-lock.yaml
Due: lint, markdown-link-check

add `get_queue` and `is_queued` to KM and router
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
Due: lint

[ENG-331] `StoredKey` overhaul (#513)
  core/prisma/migrations/20230110131305_key_overhaul/migration.sql
  core/prisma/schema.prisma
  core/src/library/library_manager.rs
  core/src/util/db.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
  packages/client/src/core.ts
Due: lint

mark keys as being mounted/finished mounting, use a `DashSet` instead of vec
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

remove dbg and fix build (works great)
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

mark key manager as unlocking correctly
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

cleanup keys api
  core/src/api/keys.rs
Due: none

add `KeyAlreadyQueued` error
  crates/crypto/src/error.rs
Due: none
