Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

fmt
  core/src/api/keys.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
Due: none

settings progress
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/header/SettingsHeader.tsx
  apps/mobile/src/containers/drawer/DrawerLocations.tsx
  apps/mobile/src/containers/modals/FileModal.tsx
  apps/mobile/src/navigation/SettingsNavigator.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/tailwind.config.js
Due: lint

Setting header titles
  apps/mobile/src/components/header/SettingsHeader.tsx
  apps/mobile/src/navigation/SettingsNavigator.tsx
  apps/mobile/src/screens/settings/Settings.tsx
Due: lint

Refactor settings icon
  apps/mobile/src/screens/settings/Settings.tsx
Due: lint

more specific error types
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

foramatting
  crates/crypto/src/keys/keymanager.rs
Due: none

add locking mechanism to keysettings page (not working?)
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

fix react hook issues
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

Fix tsconfig relative path issue
  apps/mobile/tsconfig.json
Due: none

add secret key notes
  docs/developers/architecture/key-manager.md
Due: markdown-link-check

general updates
  docs/developers/architecture/encryption.md
Due: markdown-link-check

remove empty onclick
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

Solving a race condition beetween indexer job and FS event handlerSome other minor warnings
  core/src/location/file_path_helper.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager.rs
  core/src/location/mod.rs
  core/src/object/preview/media_data.rs
  core/src/object/preview/thumb.rs
Due: none

Move mobile eslint config to @sd/config
  apps/mobile/.eslintrc.js
  apps/mobile/package.json
  packages/config/eslint-react-native.js
  pnpm-lock.yaml
Due: none

Add no-restricted-imports rule to eslint
  packages/config/eslint-react-native.js
Due: none

rename TextInput to Input & tailwind font sizing
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  apps/mobile/tailwind.config.js
Due: lint

General Settings screen + Card component
  apps/mobile/src/components/layout/Card.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/src/screens/settings/client/GeneralSettings.tsx
Due: lint

add keymanager dropdown menu
  packages/interface/src/components/key/KeyManager.tsx
Due: lint

working key backup functionality
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
  packages/interface/src/components/key/KeyManager.tsx
Due: lint

add experimental master password changing support
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

update bindings
  packages/client/src/core.ts
Due: lint

Generating thumbnails on watcher
  apps/desktop/src-tauri/src/main.rs
  core/src/location/manager.rs
  core/src/location/mod.rs
  core/src/object/cas.rs
  core/src/object/identifier_job/mod.rs
  core/src/object/preview/thumb.rs
Due: none

Remove event handler on watcher
  core/src/location/manager.rs
  core/src/location/mod.rs
Due: none

semi-working change master password dialog
  packages/interface/src/components/key/KeyManager.tsx
Due: lint

Library settings screen & delete lib dialog
  apps/mobile/src/components/primitive/Button.tsx
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  apps/mobile/src/containers/dialog/DeleteLibraryDialog.tsx
  apps/mobile/src/screens/settings/client/LibrarySettings.tsx
Due: lint

use gear/lock icons to clean up key manager UI
  packages/interface/src/components/key/KeyManager.tsx
Due: lint

make settings button functional
  packages/interface/src/components/key/KeyManager.tsx
Due: lint

make buttons uniform and format code
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

fix double base64 encode
  core/src/api/keys.rs
Due: none

add change master password dialog and secret key dialog
  packages/interface/src/components/settings/SettingsSubHeader.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

code cleanup
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

restore backup dialog
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

change UI wording
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

make a start on restoring from a backup
  crates/crypto/src/keys/keymanager.rs
Due: none

potentially working keystore restore
  crates/crypto/src/keys/keymanager.rs
Due: none

don't overwrite verification key if one is set
  core/src/library/library_manager.rs
Due: none

working backup restore + fix master password changing
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

fix typo in static password/verification key check logic
  core/src/library/library_manager.rs
Due: none

change wording to make UI clearer
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

disable mount button if key is empty
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint
