Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

fix(interface/settings): remove `library` dep when updating general settings (#432)
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

style tweaks, fix TS CI
  packages/assets/svgs/ellipsis.svg
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/ui/src/Button.stories.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/style/colors.scss
  packages/ui/style/style.scss
Due: lint

revert merge error in docs
  docs/developers/architecture/sync.md
Due: markdown-link-check

various style fixes
  apps/landing/src/components/NavBar.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/primitive/InputContainer.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/style/colors.scss
Due: lint

various style fixes
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/key/Key.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/primitive/InputContainer.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/style/colors.scss
Due: lint

more style tweaks
  packages/interface/src/components/explorer/ExplorerTopBar.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/primitive/Shortcut.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/src/Select.tsx
  packages/ui/style/colors.scss
Due: lint

debug mode + minor fixes
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src/index.tsx
  apps/mobile/src/components/icons/FolderIcon.tsx
  apps/mobile/src/types/bindings.ts
  apps/web/src/App.tsx
  core/build.rs
  core/src/api/mod.rs
  packages/client/src/context/Platform.tsx
  packages/client/src/core.ts
  packages/client/src/hooks/useCurrentLibrary.tsx
  packages/client/src/stores/debugState.ts
  packages/client/src/stores/explorerStore.ts
  packages/client/src/stores/index.ts
  packages/client/src/stores/util.ts
  packages/interface/src/AppRouter.tsx
  packages/interface/src/ErrorFallback.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
  packages/interface/src/components/primitive/index.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/info/AboutSpacedrive.tsx
  packages/ui/style/style.scss
Due: lint

job indicator + styling
  apps/desktop/src-tauri/tauri.conf.json
  core/src/api/jobs.rs
  core/src/job/worker.rs
  packages/client/package.json
  packages/client/src/core.ts
  packages/client/src/stores/themeStore.ts
  packages/interface/package.json
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/style.scss
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/Loader.tsx
  packages/ui/style/colors.scss
  packages/ui/style/style.scss
  pnpm-lock.yaml
Due: lint

more styles
  .cspell/project_words.txt
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
Due: lint

keybinds
  packages/interface/src/components/settings/SettingsSidebar.tsx
  packages/interface/src/screens/settings/client/KeybindingSettings.tsx
Due: lint

fix(interface/settings): update general values on library change
  packages/interface/src/hooks/useDebounce.ts
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

fix database migrations
  apps/desktop/package.json
  core/prisma/migrations/20221024204936_fix_migrations/migration.sql
  pnpm-lock.yaml
Due: none

Fix enter key not submitting dialog
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Dialog.tsx
Due: lint

add useDebouncedForm hook
  packages/interface/src/hooks/useDebouncedForm.ts
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
Due: lint

React Query devtools
  apps/desktop/src/index.tsx
  packages/client/src/stores/debugState.ts
  packages/interface/src/App.tsx
  packages/interface/src/components/layout/Sidebar.tsx
Due: lint

Fix types
  packages/ui/src/Dialog.tsx
Due: lint

Try fixing app startup
  apps/mobile/src/App.tsx
  apps/mobile/src/hooks/useLoadApp.ts
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  apps/mobile/src/stores/libraryStore.ts
  apps/mobile/src/stores/onboardingStore.ts
Due: lint

add keys router
  core/src/api/keys.rs
  core/src/api/mod.rs
Due: none

fix ENG-226 - App crashing with no libraries
  packages/interface/src/components/layout/Sidebar.tsx
Due: lint

make progress on keymanager integration
  core/src/api/keys.rs
  core/src/api/mod.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

make name non-negotiable
  core/prisma/schema.prisma
Due: none

Improve bash setup script (less silent!)
  .github/scripts/setup-system.sh
Due: none

hyphenate encryption algorithm names
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

use proper FFmpeg capitalization in relevant docs
  CONTRIBUTING.md
  apps/landing/src/pages/roadmap.page.tsx
  crates/ffmpeg/README.md
  crates/ffmpeg/src/error.rs
  docs/developers/prerequisites/environment-setup.md
Due: lint, markdown-link-check

Revert "make name non-negotiable"
  core/prisma/schema.prisma
Due: none

add some more keymanager queries
  core/src/api/keys.rs
  packages/client/src/core.ts
Due: lint

add master password and default key routes
  core/src/api/keys.rs
  packages/client/src/core.ts
Due: lint
