Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

add balloon hashing function with untailored parameters
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/src/error.rs
  crates/crypto/src/keys/hashing.rs
Due: none

add ser/de rules for blake3-balloon (and change argon2id's)
  crates/crypto/src/header/serialization.rs
Due: none

fix benchmark
  crates/crypto/benches/argon2id.rs
Due: none

use `to_bytes`, `from_bytes` and `from_reader`
  core/src/library/library_manager.rs
  core/src/object/fs/decrypt.rs
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
Due: none

cleanup code
  core/src/object/fs/encrypt.rs
  core/src/util/db.rs
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  packages/client/src/core.ts
Due: lint

add blake3-balloon options to the UI and fix library sync/automount enable bug
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint

cleanup some serialization code
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

fix hashing algorithm deserialization
  crates/crypto/src/header/serialization.rs
Due: none

clean up header serialization + more idiomatic master key decryption
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

clean up output a little
  crates/crypto-cli/src/main.rs
Due: none

clippy
  crates/crypto-cli/src/main.rs
Due: none

update crate details and `clap`
  Cargo.lock
  crates/crypto-cli/Cargo.toml
Due: none

force key updates once a new key is mounted
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
Due: lint

set KM decryption type if a single key is mounted
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
Due: lint

prevent the key viewer dialog from changing size based on encryption algorithm
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
Due: lint

fix spacing for the key mounter slider and remove unfitting text
  packages/interface/src/components/key/KeyMounter.tsx
Due: lint

bump rspc version (fixes a lot of KM concurrency bugs)
  Cargo.lock
  Cargo.toml
Due: none

final fixes
  core/src/library/library_manager.rs
  core/src/util/db.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
  packages/client/src/core.ts
Due: lint

fix clippy recommendations
  core/build.rs
  core/src/location/indexer/indexer_job.rs
  core/src/object/identifier_job.rs
  crates/ffmpeg/src/movie_decoder.rs
  crates/sync/example/api/src/api/mod.rs
Due: none

minor fixes on library create dialog
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

reenable `panic!` for no key + fix secret handling code
  core/src/library/library_manager.rs
  crates/crypto/src/error.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

clippy
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/hashing.rs
Due: none

prevent user setting secret , instead hardcode it
  core/src/api/libraries.rs
  core/src/library/library_manager.rs
  crates/crypto/src/keys/keymanager.rs
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

clean library manager default key selection
  core/src/library/library_manager.rs
Due: none

bring back wrongly removed `keys.onboarding` resolver
  core/src/api/keys.rs
Due: none

fix types in `CreateLibraryDialog`
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  packages/client/src/core.ts
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: lint

Integrate KeyManager with library creation flow (#491)
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  apps/mobile/src/screens/settings/library/LibraryGeneralSettings.tsx
  core/src/api/keys.rs
  core/src/api/libraries.rs
  core/src/library/library_config.rs
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  core/src/location/indexer/indexer_job.rs
  core/src/util/db.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
  crates/crypto/src/protected.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
Due: lint

[ENG-312] Crypto details CLI tool (#500)
  Cargo.lock
  crates/crypto-cli/Cargo.toml
  crates/crypto-cli/src/main.rs
  crates/crypto/src/header/serialization.rs
Due: none

add generic ser/de error to crypto crate
  crates/crypto/src/error.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/serialization.rs
Due: none

DMG background We are using the background designed by @ParthJadhav with a few modifications by me for sizing.
  apps/desktop/package.json
  apps/desktop/src-tauri/build.js
  apps/desktop/src-tauri/dmg-background.png
Due: none

fix `Display` and crypto cli
  crates/crypto-cli/src/main.rs
  crates/crypto/src/header/serialization.rs
Due: none

move crypto cli to cli app
  Cargo.lock
  Cargo.toml
  apps/cli/Cargo.toml
  apps/cli/README.md
  apps/cli/src/main.rs
  crates/crypto-cli/Cargo.toml
  crates/crypto-cli/src/main.rs
Due: markdown-link-check

move crates
  Cargo.lock
  Cargo.toml
  crates/sync-generator/Cargo.toml
  crates/sync-generator/src/attribute/mod.rs
  crates/sync-generator/src/attribute/parser.rs
  crates/sync-generator/src/datamodel/field.rs
  crates/sync-generator/src/datamodel/mod.rs
  crates/sync-generator/src/datamodel/model.rs
  crates/sync-generator/src/generator/client.rs
  crates/sync-generator/src/generator/mod.rs
  crates/sync-generator/src/generator/model/actions.rs
  crates/sync-generator/src/generator/model/create.rs
  crates/sync-generator/src/generator/model/create_params.rs
  crates/sync-generator/src/generator/model/delete.rs
  crates/sync-generator/src/generator/model/mod.rs
  crates/sync-generator/src/generator/model/owned/mod.rs
  crates/sync-generator/src/generator/model/relation/mod.rs
  crates/sync-generator/src/generator/model/set_param.rs
  crates/sync-generator/src/generator/model/shared/mod.rs
  crates/sync-generator/src/generator/model/sync_id.rs
  crates/sync-generator/src/generator/model/update.rs
  crates/sync-generator/src/lib.rs
  crates/sync/docs/HLC.md
  crates/sync/docs/index.md
  crates/sync/docs/prisma-schema.md
  crates/sync/example/Cargo.toml
  crates/sync/example/api/src/prisma.rs
  crates/sync/example/prisma/Cargo.toml
  crates/sync/example/prisma/schema.prisma
  crates/sync/example/prisma/src/main.rs
  crates/sync/example/src/api/mod.rs
  crates/sync/example/src/main.rs
  crates/sync/example/src/prisma-sync.rs
  crates/sync/example/src/prisma.rs
  crates/sync/example/src/utils.rs
Due: markdown-link-check

some sync stuff and refactors
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/prisma/schema.prisma
  core/src/lib.rs
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/manager/watcher/utils.rs
  core/src/location/mod.rs
  core/src/object/_identifier_job.rs
  core/src/object/identifier_job/mod.rs
  core/src/prisma_sync.rs
  core/src/sync/mod.rs
  core/src/volume.rs
  crates/prisma-cli/Cargo.toml
  crates/prisma-cli/src/bin/prisma.rs
  crates/prisma-cli/src/bin/sync.rs
  crates/sync-generator/Cargo.toml
  crates/sync-generator/src/client.rs
  crates/sync-generator/src/lib.rs
  crates/sync-generator/src/model.rs
  crates/sync-generator/src/prelude.rs
  crates/sync/Cargo.toml
  crates/sync/example/Cargo.toml
  crates/sync/example/api/src/prisma.rs
  crates/sync/example/prisma/schema.prisma
  crates/sync/example/src/api/mod.rs
  crates/sync/example/src/main.rs
  crates/sync/example/src/prisma-sync.rs
  crates/sync/example/src/prisma.rs
  crates/sync/example/src/prisma_sync.rs
  crates/sync/example/web/src/App.tsx
  crates/sync/example/web/src/utils/bindings.ts
  crates/sync/src/crdt.rs
  crates/sync/src/db.rs
  crates/sync/src/lib.rs
Due: lint

new file icons
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileItem.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
  apps/mobile/src/screens/Overview.tsx
Due: lint

[ENG-319] Balloon hashing (#489)
  Cargo.lock
  Cargo.toml
  apps/cli/Cargo.toml
  apps/cli/README.md
  apps/cli/src/main.rs
  core/src/library/library_manager.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/util/db.rs
  crates/crypto-cli/Cargo.toml
  crates/crypto-cli/src/main.rs
  crates/crypto/Cargo.toml
  crates/crypto/benches/argon2id.rs
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/KeyViewerDialog.tsx
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
Due: lint, markdown-link-check
