Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

add benchmarks for encryption/hashing
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/benches/aes-256-gcm.rs
  crates/crypto/benches/argon2id.rs
  crates/crypto/benches/xchacha20-poly1305.rs
Due: none

add more benchmarking sizes
  crates/crypto/benches/aes-256-gcm.rs
  crates/crypto/benches/xchacha20-poly1305.rs
Due: none

general performance improvements
  crates/crypto/src/crypto/stream.rs
Due: none

massive performance gain with minimal security impact
  crates/crypto/src/crypto/stream.rs
Due: none

update `sd-crypto` author info
  crates/crypto/Cargo.toml
Due: none

Locations screen & delete and rescan locations
  apps/mobile/src/containers/dialog/DeleteLocationDialog.tsx
  apps/mobile/src/screens/settings/library/LibraryGeneralSettings.tsx
  apps/mobile/src/screens/settings/library/LocationSettings.tsx
Due: lint

fix dll copy for tauri ow
  .github/scripts/setup-system.ps1
  Cargo.lock
  apps/desktop/src-tauri/.gitignore
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/tauri.windows.conf.json
  apps/desktop/src-tauri/vcpkg.json
Due: none

build only needed ffmpeg libraries
  apps/desktop/src-tauri/Cargo.toml
Due: none

run proc in same window testddd
  .github/scripts/setup-system.ps1
Due: none

Rename folder + small tweaks
  apps/mobile/src/App.tsx
  apps/mobile/src/containers/drawer/DrawerLocations.tsx
  apps/mobile/src/containers/modal/FileModal.tsx
  apps/mobile/src/containers/modal/GlobalModals.tsx
  apps/mobile/src/containers/modal/ImportModal.tsx
  apps/mobile/src/main.tsx
  apps/mobile/src/navigation/LinkingConfiguration.ts
  apps/mobile/src/navigation/SharedScreens.tsx
  apps/mobile/src/screens/settings/library/LocationSettings.tsx
Due: lint

New structure for platform dependent event handling Implementing event handlers for Linux and MacOS
  core/src/location/manager.rs
  core/src/location/manager/mod.rs
  core/src/location/manager/watcher/linux.rs
  core/src/location/manager/watcher/macos.rs
  core/src/location/manager/watcher/mod.rs
  core/src/location/manager/watcher/utils.rs
  core/src/location/manager/watcher/windows.rs
Due: none

cleanup pt1
  .github/scripts/setup-system.ps1
  apps/desktop/src-tauri/.gitignore
  apps/desktop/src-tauri/Cargo.toml
  docs/developers/prerequisites/environment-setup.md
Due: markdown-link-check

minor fixes + rustfmt + clippy
  core/src/location/manager/watcher/mod.rs
  core/src/location/manager/watcher/utils.rs
  core/src/location/manager/watcher/windows.rs
  crates/crypto/Cargo.toml
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/keys/hashing.rs
Due: none

[ENG-307] Key manager features (#467)
  Cargo.lock
  core/Cargo.toml
  core/prisma/migrations/20221108102622_salt_removal/migration.sql
  core/prisma/schema.prisma
  core/src/api/keys.rs
  core/src/library/library_manager.rs
  crates/crypto/Cargo.toml
  crates/crypto/assets/eff_large_wordlist.txt
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/error.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
  packages/client/src/core.ts
  packages/interface/package.json
  packages/interface/src/components/dialog/BackupRestoreDialog.tsx
  packages/interface/src/components/dialog/PasswordChangeDialog.tsx
  packages/interface/src/components/key/KeyList.tsx
  packages/interface/src/components/key/KeyManager.tsx
  packages/interface/src/components/key/KeyMounter.tsx
  packages/interface/src/components/settings/SettingsSubHeader.tsx
  packages/interface/src/screens/settings/library/KeysSetting.tsx
  pnpm-lock.yaml
Due: lint

Make things Swipeable
  apps/mobile/src/screens/settings/client/LibrarySettings.tsx
  apps/mobile/src/screens/settings/library/LibraryGeneralSettings.tsx
  apps/mobile/src/screens/settings/library/LocationSettings.tsx
Due: lint

new transports + direct IP communication working
  .gitignore
  Cargo.lock
  crates/p2p2/Cargo.lock
  crates/p2p2/Cargo.toml
  crates/p2p2/examples/basic.rs
  crates/p2p2/src/connection.rs
  crates/p2p2/src/connection_manager.rs
  crates/p2p2/src/endpoint.rs
  crates/p2p2/src/lib.rs
  crates/p2p2/src/services/mod.rs
  crates/p2p2/src/services/protector.rs
  crates/p2p2/src/state.rs
  crates/p2p2/src/stream.rs
  crates/p2p2/src/transport.rs
  crates/p2p2/src/transport/log.rs
  crates/p2p2/src/transport/quic/cert_vertifier.rs
  crates/p2p2/src/transport/quic/connection.rs
  crates/p2p2/src/transport/quic/mod.rs
  crates/p2p2/src/transport/quic/stream.rs
  crates/p2p2/src/transport/quic/transport.rs
  crates/p2p2/src/utils/identity.rs
  crates/p2p2/src/utils/mod.rs
  crates/p2p2/src/utils/peer_id.rs
Due: none

use master key to encrypt the root key (breaking)
  crates/crypto/src/keys/keymanager.rs
Due: none

introduce breaking changes to the keymanager (this breaks master password changing, backup restoration, etc)
  crates/crypto/src/keys/keymanager.rs
Due: none

change MP -> RK
  core/src/api/keys.rs
  crates/crypto/src/keys/keymanager.rs
Due: none

Windows event handling
  core/src/location/manager/watcher/linux.rs
  core/src/location/manager/watcher/macos.rs
  core/src/location/manager/watcher/mod.rs
  core/src/location/manager/watcher/windows.rs
Due: none

Introducing a feature gate to only use location watching on desktop app for now
  apps/desktop/src-tauri/Cargo.toml
  core/Cargo.toml
  core/src/location/manager/mod.rs
Due: none

Putting more stuff behind feature gates to avoid warnings
  core/src/location/file_path_helper.rs
  core/src/location/manager/helpers.rs
  core/src/location/manager/mod.rs
  core/src/location/manager/watcher/utils.rs
  core/src/location/mod.rs
Due: none

Adding feature to cargo test on CI
  .github/workflows/ci.yml
Due: none

minor tweaks + comment out broken features temporarily
  crates/crypto/src/keys/keymanager.rs
Due: none

add
  core/src/object/fs/encrypt.rs
  core/src/object/fs/mod.rs
  core/src/object/mod.rs
Due: none

leave hashing to the KM and not keyslots
  crates/crypto/src/header/keyslot.rs
Due: none

add latest header object versions and update examples
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/primitives.rs
Due: none

add a very experimental (local file!) encrypt job
  core/src/object/fs/encrypt.rs
Due: none

working file encryption with default key
  core/src/api/files.rs
  core/src/job/mod.rs
  core/src/object/fs/encrypt.rs
  crates/crypto/src/keys/keymanager.rs
  packages/client/src/core.ts
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
Due: lint

working file decryption
  core/src/api/files.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/object/fs/mod.rs
  packages/client/src/core.ts
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
Due: lint

non-working encrypt file dialog
  packages/client/src/core.ts
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
Due: lint

general code cleanup
  core/src/api/files.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
Due: none

comments and correct feature locking
  core/src/object/fs/encrypt.rs
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
Due: lint

fix the `Dialog`
  package.json
  packages/interface/package.json
  packages/ui/package.json
  packages/ui/src/Dialog.tsx
  pnpm-lock.yaml
Due: lint

WIP encrypt dialog
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
Due: lint

massive encrypt dialog overhaul
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

add generic explorer alert dialog
  packages/interface/src/components/dialog/ExplorerAlertDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
Due: lint

better key naming/numbering, alerts for unsupported scenarios
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/key/KeyList.tsx
Due: lint

cleanup + decrypt file dialog
  core/src/api/files.rs
  core/src/object/fs/decrypt.rs
  packages/client/src/core.ts
  packages/interface/src/components/dialog/DecryptFileDialog.tsx
  packages/interface/src/components/dialog/EncryptFileDialog.tsx
  packages/interface/src/components/dialog/PasswordChangeDialog.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
