Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown-link-check

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}

Sort by & layout menu
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/primitive/Menu.tsx
  apps/mobile/src/containers/menu/SortByMenu.tsx
  apps/mobile/tailwind.config.js
  packages/interface/src/components/explorer/ExplorerOptionsPanel.tsx
Due: lint

clippy
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
Due: none

add a master password context string
  crates/crypto/src/primitives.rs
Due: none

update to use new code and remove `match` from `en/decrypt_bytes()`
  core/src/library/library_manager.rs
  core/src/util/db.rs
  crates/crypto/src/crypto/stream.rs
Due: none

keymanager refactor (code is very idiomatic now) - needs thorough testing
  crates/crypto/src/keys/keymanager.rs
Due: none

add blake3, `derive_key()` and clean up code
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
Due: none

add salt to schema
  core/prisma/schema.prisma
Due: none

gen new migrations that contain a salt column
  core/prisma/migrations/20221214150258_kdf/migration.sql
Due: none

add context strings for root/file key derivation
  crates/crypto/src/primitives.rs
Due: none

further cleanup
  crates/crypto/src/keys/keymanager.rs
Due: none

rename salt to content salt in examples
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
Due: none

cleanup code and add kdf salt to the keyslot
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
Due: none

fix a couple of things from the previous commit
  crates/crypto/src/keys/keymanager.rs
Due: none

implement key derivation for keyslots
  crates/crypto/src/header/keyslot.rs
Due: none

cleanup header code + remove dead code
  crates/crypto/src/header/file.rs
Due: none

use key derivation for deriving keys from the root key
  crates/crypto/src/keys/keymanager.rs
Due: none

update refs of `salt` to `content_salt` within the keyslot
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
Due: none

use less unwraps in library manager code
  core/src/library/library_manager.rs
  packages/client/src/core.ts
Due: lint

clippy
  crates/crypto/src/crypto/stream.rs
Due: none

add untested crypto details tool
  Cargo.lock
  crates/crypto-cli/Cargo.toml
  crates/crypto-cli/src/main.rs
  crates/crypto/src/header/serialization.rs
Due: none

Add sort direction
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/primitive/Menu.tsx
  apps/mobile/src/containers/menu/SortByMenu.tsx
Due: lint

Style sort by menu
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/primitive/Menu.tsx
  apps/mobile/src/containers/menu/SortByMenu.tsx
Due: lint

remove unused `CurrentDirFileIdentifierJob`
  core/src/object/identifier_job/current_dir_identifier_job.rs
  core/src/object/identifier_job/mod.rs
Due: none

better fs watcher crate - macos support
  Cargo.lock
  Cargo.toml
  crates/notify2/Cargo.toml
  crates/notify2/examples/basic.rs
  crates/notify2/src/event.rs
  crates/notify2/src/lib.rs
  crates/notify2/src/linux.rs
  crates/notify2/src/macos.rs
  crates/notify2/src/windows.rs
  crates/notify2/tests/test.rs
  crates/notify2/tests/utils.rs
Due: none

move `JobReport` onto `WorkerContext` to remove the `WorkerEvent` channel
  core/src/job/job_manager.rs
  core/src/job/mod.rs
  core/src/job/worker.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/indexer/walk.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/preview/thumb.rs
  core/src/object/validation/validator_job.rs
Due: none

break `JobReport` and co out of `job_manager.rs`
  core/src/job/job_manager.rs
  core/src/job/job_report.rs
  core/src/job/mod.rs
Due: none

major JobManager refactor
  core/src/api/files.rs
  core/src/api/jobs.rs
  core/src/api/locations.rs
  core/src/job/job_manager.rs
  core/src/job/job_report.rs
  core/src/job/mod.rs
  core/src/job/worker.rs
  core/src/lib.rs
  core/src/library/library_ctx.rs
  core/src/library/library_manager.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/preview/thumb.rs
  core/src/object/validation/validator_job.rs
Due: none

simplify `ingest_job` function to only require init data arg
  core/src/api/files.rs
  core/src/api/jobs.rs
  core/src/job/mod.rs
  core/src/library/library_ctx.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  core/src/object/fs/decrypt.rs
  core/src/object/fs/encrypt.rs
  core/src/object/identifier_job/full_identifier_job.rs
  core/src/object/preview/thumb.rs
  core/src/object/validation/validator_job.rs
Due: none

move `LocationManager.add` calls to library load
  core/src/lib.rs
  core/src/library/library_manager.rs
Due: none

`JobRestorer` trait & `const JOB_RESTORER` to prevent common mistakes with defining jobs
  core/src/job/job_manager.rs
  core/src/job/mod.rs
Due: none

[ENG-318] Implement a KDF to derive new keys (#487)
  Cargo.lock
  core/prisma/migrations/20221214150258_kdf/migration.sql
  core/prisma/schema.prisma
  core/src/library/library_manager.rs
  core/src/util/db.rs
  crates/crypto/Cargo.toml
  crates/crypto/examples/single_file.rs
  crates/crypto/examples/single_file_with_metadata.rs
  crates/crypto/examples/single_file_with_preview_media.rs
  crates/crypto/src/crypto/stream.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/keymanager.rs
  crates/crypto/src/primitives.rs
  packages/client/src/core.ts
Due: lint

chore: update year in copyright
  apps/landing/src/components/Footer.tsx
  docs/company/about/credits.md
Due: lint, markdown-link-check

auto date + revert copyright text + fix #460
  apps/landing/src/components/AppEmbed.tsx
  apps/landing/src/components/Footer.tsx
  docs/company/about/credits.md
Due: lint, markdown-link-check

update year in copyright year + fix #460 (#497)
  docs/company/about/credits.md
Due: markdown-link-check

update year in copyright year + fix #460 (#497)
  apps/landing/src/components/AppEmbed.tsx
  apps/landing/src/components/Footer.tsx
  docs/company/about/credits.md
Due: lint, markdown-link-check

DMG background We are using the background designed by @ParthJadhav with a few modifications by me for sizing.
  apps/desktop/package.json
  apps/desktop/src-tauri/build.js
  apps/desktop/src-tauri/dmg-background.png
Due: none

add key attribute to `Key` in `ListOfKeys`
  packages/interface/src/components/key/KeyList.tsx
Due: lint
